.loading-icon
  position relative
  right 15px
  display flex
  flex 0 0 auto
  align-items center
  justify-content flex-end
  &:not(&.loading)
    display none
  &.loading
    & ^[0]__dot
      animation dotFlashing 1s infinite linear alternate
      animation-delay .5s

  &__dot
    position relative
    flex 0 0 auto
    width 10px
    height 10px
    color var(--color-dark)
    background-color var(--color-dark)
    border-radius 5px
    &::before
    &::after
      position absolute
      top 0
      display inline-block
      width 10px
      height 10px
      color var(--color-dark)
      background-color var(--color-dark)
      border-radius 5px
      content ''
    &::before
      left -15px
    &::after
      left 15px

  &--spinner
    display inline-block
    background-color #23282d
    border-radius 50%
    visibility visible
    opacity .75
    size 24px
    &::before
      position absolute
      top 4px
      left 4px
      width 6px
      height 6px
      background-color #fbfbfc
      border none
      border-radius 100%
      transform-origin 8px 8px
      animation-name spin
      animation-duration 1000ms
      animation-timing-function linear
      animation-iteration-count infinite
      content ''

@keyframes dotFlashing
  0%
    background-color var(--color-dark)
  50%
  100%
    background-color var(--color-gray)

@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
