.radio
  display inline-block

  input
    visually-hidden()

  &__label
    position relative
    display flex
    flex-flow row nowrap
    gap 12px
    align-items flex-start
    width auto
    margin 0
    color var(--color-grey-800)
    font-weight 500
    font-size rem(16px)
    font-family $font-family
    line-height 1.4
    cursor pointer
    transition all .2s ease
    user-select-none()

  &__check
    position relative
    display block
    flex 0 0 auto
    margin 2px 0
    border 1px solid var(--color-grey-400)
    border-radius 50%
    transition all .2s ease
    size 20px
    &::after
      position absolute
      top 50%
      left 50%
      display block
      background-color var(--color-blue-400)
      border-radius 50%
      transform translate(-50%,-50%)
      opacity 0
      transition all .2s ease
      content ""
      size 10px
    .is-invalid &
      border-color var(--color-error)

  &__caption
    padding-top rem(2px)

  input:focus-visible + ^[0]__label ^[0]__check
    border-color var(--color-blue-400)
    box-shadow 0 0 0 4px rgba(13,110,253,.25)

  input:checked + ^[0]__label ^[0]__check
    border-color var(--color-blue-400)
    &::after
      opacity 1

  input:disabled + ^[0]__label ^[0]__check
    background-color var(--color-grey-100)
    border-color var(--color-grey-300)

  input:disabled + ^[0]__label ^[0]__check + ^[0]__caption
    opacity .5

  input:checked:disabled + ^[0]__label ^[0]__check
    &::after
      background-color var(--color-grey-300)

  ^[0]:hover input:not(:disabled) + ^[0]__label ^[0]__check
    border-color var(--color-blue-400)

