.radio
  display inline-block

  input
    visually-hidden()

  &__label
    position relative
    display flex
    flex-flow row nowrap
    gap 12px
    align-items center
    width auto
    margin 0
    color var(--color-text)
    font-weight 400
    font-size rem(15px)
    font-family $font-family
    line-height 1
    cursor pointer
    transition all .2s ease
    user-select-none()

  &__check
    position relative
    display block
    flex 0 0 auto
    border 1px solid var(--color-white)
    border-radius 50%
    transition all .2s ease
    size 14px
    &::after
      position absolute
      top 50%
      left 50%
      display block
      background-color #d1d3d1
      border-radius 50%
      transform translate(-50%,-50%)
      transition all .2s ease
      content ""
      size 14px
    .is-invalid &
      border-color var(--color-error)


  // input:focus-visible + ^[0]__label ^[0]__check
  //   border-color var(--color-blue-400)
  //   box-shadow 0 0 0 4px rgba(13,110,253,.25)

  input:checked + ^[0]__label ^[0]__check
    border-color var(--color-dark)
    &::after
      background-color var(--color-dark)

  input:disabled + ^[0]__label ^[0]__check
    background-color var(--color-gray-soft)
    border-color var(--color-gray-soft)
    cursor default

  input:disabled + ^[0]__label
    cursor default

  input:disabled + ^[0]__label ^[0]__check + ^[0]__caption
    opacity .5

  input:checked:disabled + ^[0]__label ^[0]__check
    &::after
      background-color var(--color-gray-soft)

  ^[0]:hover input:not(:disabled, :checked) + ^[0]__label ^[0]__check
    &::after
      background-color var(--color-gray-dark)

