.input
  display block
  width 100%
  height rem(48px)
  padding rem(10px) rem(15px)
  color var(--color-gray-dark)
  font-weight 400
  font-size rem(16px)
  font-family $font-family
  font-variant-numeric lining-nums proportional-nums
  line-height 1.5
  background-color var(--color-white)
  background-clip padding-box
  border 1px solid var(--color-gray)
  transition all .2s ease
  appearance none
  ellipsis()
  &:invalid
    box-shadow none
  &:focus-visible
    border-color var(--color-dark-soft)
    outline none
  &::placeholder
    color var(--color-gray-dark)
    font-family $font-family-J
    letter-spacing 1
    opacity 1
  &:disabled
    color var(--color-gray)
    border-color var(--color-gray)
    pointer-events none
  &:-webkit-autofill
    transition background-color 10000000s ease-out
  &[type="password"]
    font-family $font-family-M

  .is-invalid &
    color var(--color-error)
    border-color var(--color-error)

  &--border-white
    color var(--color-white)
    background-color transparent
    border-color var(--color-white)
    &:hover
      border-color var(--color-blue-200)
    &:focus
      border-color var(--color-blue-200)
      outline 2px solid var(--color-blue-400)
    &::placeholder
      color var(--color-blue-20)

  &--border-bottom
    border none
    border-bottom 1px solid var(--color-gray)

  &--ellipsis
    ellipsis()

  &-count-wrapper
    position relative
    input
      padding-right rem(74px)
      ellipsis()

  &-count-length
    position absolute
    top 50%
    right rem(24px)
    display inline-block
    padding 0
    color var(--color-gray)
    font-weight 500
    font-size rem(12px)
    line-height 1.4
    text-align right
    transform translateY(-50%)
    ^[0]:focus + &
      color var(--color-gray-dark)

  &--search
    height 52px
    padding 0 30px
    border-style none none solid

  &--lang-search
    height 64px
    padding 0 40px
    color var(--color-grey-800)
    font-weight 400
    font-size rem(16px)
    line-height 1
    background-color transparent
    border-color var(--color-grey-400)
    border-style none none solid
    border-width 1px
    border-radius 0
    &:hover
      border-color var(--color-grey-400)
      box-shadow none
    &:focus
      border-color var(--color-blue-400)
      outline none
      box-shadow none
    &::placeholder
      color var(--color-grey-500)
    +above(80em)
      height 60px
