@keyframes fadeInZoom
  from
    transform scale(.8)
    opacity 0
  to
    transform scale(1)
    opacity 1

@keyframes fadeOutZoom
  from
    transform scale(1)
    opacity 1
  to
    transform scale(.8)
    opacity 0
