@keyframes fadeInSlide
  from
    transform translateX(-150%)
    opacity 0
  to
    transform translateX(0%)
    opacity 1

@keyframes fadeOutSlide
  from
    transform translateX(0%)
    opacity 1
  to
    transform translateX(-150%)
    opacity 0
