.button
  position relative
  display inline-flex
  flex-flow row nowrap
  gap rem(6px)
  align-items center
  justify-content center
  min-width 160px
  min-height rem(38px)
  padding rem(8px) rem(15px)
  color var(--color-white)
  font-weight 500
  font-size rem(14px)
  font-family $font-family
  line-height 1.2
  text-align center
  text-decoration none
  background-color var(--color-dark)
  border-color var(--color-dark)
  border-style solid
  border-width 2px
  border-radius 0
  cursor pointer
  transition all .3s ease
  &:hover
  &:focus-visible
    color var(--color-white)
    text-decoration none
    background-color var(--color-dark-border)
    border-color var(--color-dark-border)
  &:focus-visible
    outline 3px solid var(--color-primary)
  &:active
    color var(--color-white)
    text-decoration none
    background-color var(--color-dark-soft)
    border-color var(--color-dark-soft)
  &:disabled
  &.disabled
    color var(--color-white)
    background-color var(--color-dark-soft)
    border-color var(--color-dark-soft)
    pointer-events none

  .icon
    flex 0 0 auto
    size rem(18px)

  &__caption
    position relative
    flex 0 1 auto

  &__icon
    flex 0 0 auto
    ^[0]--icon-right &
      order 3

  &--small
    min-width 120px
    min-height 33px
    padding rem(5px) rem(12px)
    font-size rem(14px)
    .icon
      size rem(20px)

  &--bigger
    font-weight 700
    .icon
      size rem(18px)

  &--large
    min-height rem(45px)
    padding rem(8px) rem(15px)
    font-size rem(16px)

  &--round
    padding rem(10px)
    size rem(50px)
    .icon
      size rem(18px)

  &--round&--small
    padding rem(6px)
    size rem(42px)
    .icon
      size rem(20px)

  &--round&--large
    padding rem(12px)
    size rem(60px)
    .icon
      size rem(18px)

  &--square
    border-width 1px
    border-radius 8px

  &--outline
    color var(--color-dark)
    background-color var(--color-white)
    &:hover
    &:focus-visible
      background-color var(--color-dark)
      border-color var(--color-dark)
    &:active
      color var(--color-white)
      background-color var(--color-dark-soft)
      border-color var(--color-dark-soft)
    &:disabled
    &.disabled
      color var(--color-dark-soft)
      background-color var(--color-white)
      border-color var(--color-dark-soft)

  &--outline-white
    color var(--color-white)
    background-color transparent
    border-color var(--color-white)
    &:hover
    &:focus-visible
      color var(--color-dark)
      background-color var(--color-white)
      border-color var(--color-white)
    &:active
      color var(--color-white)
      background-color var(--color-dark-soft)
      border-color var(--color-dark-soft)
    &:disabled
    &.disabled
      color var(--color-white)
      background-color var(--color-dark-soft)
      border-color var(--color-dark-soft)

  &--transparent
    color var(--color-white)
    background-color transparent
    border-color transparent
    &:hover
    &:focus-visible
      color var(--color-dark-soft)
      background-color var(--color-white)
      border-color var(--color-white)
    &:active
      color var(--color-white)
      background-color var(--color-dark-soft)
      border-color var(--color-dark-soft)
    &:disabled
    &.disabled
      color var(--color-white)
      background-color var(--color-dark-soft)
      border-color var(--color-dark-soft)
