include ../icon/icon

mixin button()
  -
    const props = initComponent('button', attributes, ['tag', 'label', 'icon']);

    if (attributes.href) props.tag = 'a';

    props.tag = props.tag || 'button';

    if ((props.tag === 'button') && (!attributes.type)) attributes.type = 'button';

    if (props.tag === 'a') {
      attributes.role = 'button';
      attributes.href = attributes.href || '#';
    }

  #{props.tag}.button&attributes(attributes)
    - if (props.icon)
      +icon(props.icon).button__icon
      - if (props.label)
        span.button__label!= props.label
    - else if (props.label)
      != props.label
    block
