.button
  position relative
  display inline-flex
  flex-flow row nowrap
  gap rem(6px)
  align-items center
  justify-content center
  min-height rem(50px)
  padding rem(12px) rem(20px)
  color var(--color-white)
  font-weight 500
  font-size rem(16px)
  font-family $font-family
  line-height 1.2
  text-align center
  text-decoration none
  background-color var(--color-blue-400)
  border-color var(--color-blue-400)
  border-style solid
  border-width 2px
  border-radius rem(50px)
  cursor pointer
  transition all .3s ease
  &:hover
  &:focus-visible
    color var(--color-white)
    text-decoration none
    background-color var(--color-blue-500)
    border-color var(--color-blue-600)
  &:focus-visible
    outline 3px solid var(--color-blue-200)
  &:active
    color var(--color-white)
    text-decoration none
    background-color var(--color-blue-600)
    border-color var(--color-blue-600)
  &:disabled
  &.disabled
    color var(--color-blue-200)
    background-color var(--color-blue-100)
    border-color var(--color-blue-100)
    pointer-events none

  .icon
    flex 0 0 auto
    size rem(24px)

  &__caption
    position relative
    flex 0 1 auto

  &__icon
    flex 0 0 auto
    ^[0]--icon-right &
      order 3

  &--small
    min-height 42px
    padding rem(10px) rem(16px)
    font-size rem(16px)
    .icon
      size rem(20px)

  &--bigger
    font-weight 700
    .icon
      size rem(24px)

  &--large
    min-height 60px
    padding rem(16px) rem(42px)
    font-size rem(20px)

  &--light
    color var(--color-blue-400)
    background-color var(--color-blue-100)
    border-color var(--color-blue-100)
    &:hover
    &:focus-visible
      color var(--color-white)
      background-color var(--color-blue-400)
      border-color var(--color-blue-400)
    &:active
      color var(--color-blue-100)
      background-color var(--color-blue-500)
      border-color var(--color-blue-500)
    &:disabled
    &.disabled
      color var(--color-blue-200)
      background-color var(--color-blue-100)
      border-color var(--color-blue-100)

  &--transparent
    color var(--color-blue-400)
    background-color transparent
    border-color transparent
    &:hover
    &:focus-visible
      background-color var(--color-blue-500)
      border-color var(--color-blue-500)
    &:focus-visible
      outline 3px solid var(--color-blue-200)
    &:active
      background-color var(--color-blue-600)
      border-color var(--color-blue-600)
    &:disabled
    &.disabled
      background-color var(--color-blue-100)
      border-color var(--color-blue-100)

  &--outline
    color var(--color-blue-400)
    font-weight 600
    background-color transparent
    border 2px solid var(--color-blue-400)
    &:hover
    &:focus-visible
      color var(--color-white)
      text-decoration none
      background-color var(--color-blue-500)
      border-color var(--color-blue-500)
    &:active
      color var(--color-blue-100)
      text-decoration none
      background-color var(--color-blue-500)
      border-color var(--color-blue-500)
    &:disabled
    &.disabled
      color var(--color-blue-200)
      background-color transparent
      border-color var(--color-blue-200)

  &--green
    color var(--color-white)
    background-color #10b981
    border-color #10b981
    &:hover
    &:focus-visible
      color var(--color-white)
      background-color #059669
      border-color #059669
    &:active
      color var(--color-white)
      background-color #047857
      border-color #047857
    &:disabled
    &.disabled
      color #10b981
      background-color #a7f3d0
      border-color #a7f3d0

  &--red
    color var(--color-white)
    background-color #f43f5e
    border-color #f43f5e
    &:hover
    &:focus-visible
      color var(--color-white)
      background-color #e11d48
      border-color #e11d48
    &:active
      color var(--color-white)
      background-color #be123c
      border-color #be123c
    &:disabled
    &.disabled
      color #fb7185
      background-color #fda4af
      border-color #fda4af

  &--yellow
    color var(--color-white)
    background-color #ffcc15
    border-color #ffcc15
    &:hover
    &:focus-visible
      color var(--color-white)
      background-color #eab308
      border-color #eab308
    &:active
      color var(--color-white)
      background-color #ca8a04
      border-color #ca8a04
    &:disabled
    &.disabled
      color #ffcc15
      background-color #fef08a
      border-color #fef08a

  &--white
    color var(--color-blue-400)
    background-color var(--color-white)
    border-color var(--color-white)
    &:hover
    &:focus-visible
      color var(--color-white)
      text-decoration none
      background-color var(--color-blue-500)
      border-color var(--color-blue-500)
    &:active
      color var(--color-white)
      text-decoration none
      background-color var(--color-blue-600)
      border-color var(--color-blue-600)
    &:disabled
    &.disabled
      color var(--color-blue-200)
      background-color transparent
      border-color var(--color-blue-200)

  &--grey
    color var(--color-grey-700)
    background-color var(--color-grey-200)
    border-color var(--color-grey-200)
    &:hover
    &:focus-visible
      color var(--color-white)
      text-decoration none
      background-color var(--color-blue-500)
      border-color var(--color-blue-500)
    &:active
      color var(--color-white)
      text-decoration none
      background-color var(--color-blue-600)
      border-color var(--color-blue-600)
    &:disabled
    &.disabled
      color var(--color-grey-500)
      background-color var(--color-grey-100)
      border-color var(--color-grey-100)

  &--round
    padding rem(10px)
    size rem(50px)
    .icon
      size rem(24px)

  &--round&--small
    padding rem(6px)
    size rem(42px)
    .icon
      size rem(20px)

  &--round&--large
    padding rem(12px)
    size rem(60px)
    .icon
      size rem(24px)

  &--square
    border-width 1px
    border-radius 8px

  &--menu-item
  &--text
    gap rem(8px)
    min-height 1rem
    padding 0
    color var(--color-grey-700)
    font-weight 500
    font-size rem(18px)
    background-color transparent
    border none
    &:hover
    &:focus-visible
    &:active
      color var(--color-hover)
      background-color transparent
      border-color transparent
    &:focus-visible
      outline 3px solid var(--color-blue-200)
    &:disabled
    &.disabled
      color var(--color-grey-400)
      background-color transparent
      border-color transparent
    .icon
      position relative
      top -1px
      size rem(24px)

  &--menu-item
    justify-content flex-start
    text-align left

  &--delete
    gap rem(8px)
    min-height 1rem
    padding 0
    color var(--color-grey-700)
    font-weight 500
    font-size rem(18px)
    background-color transparent
    border none
    &:hover
    &:focus-visible
    &:active
      color var(--color-red)
      background-color transparent
      border-color transparent
    &:focus-visible
      outline 3px solid var(--color-blue-200)
    &:disabled
    &.disabled
      color var(--color-grey-400)
      background-color transparent
      border-color transparent
    .icon
      position relative
      top -1px
      size rem(24px)
