include ./form
include ../field/field
include ../input/input
include ../button/button
include ../suggestion-dropdown/suggestion-dropdown

mixin form--address()
  +form(mod="address" data-validate)&attributes(attributes)#form-address
    .form__fields
      +field(for="form-address-label" label!="Подпись к&nbsp;адресу" required)
        +field__control()
          +input(type="text" name="label" id="form-address-label" placeholder="Подпись к адресу" value="Главный корпус" required)
      +field(for="form-address-address" label="Адрес" required)
        +field__control()
          +input(type="text" name="address" id="form-address-address" placeholder="Адрес..." value="Москва, ул. В.Пика, д.4, стр.1" required data-field="address")
          +suggestion-dropdown().is-open
    .form__buttons
      +button(type="submit" label="Сохранить").form__button-save
      +button(type="button" label="Очистить" mod="outline").form__button-clear
