include ./form
include ../field/field
include ../input/input
include ../button/button

mixin form--add-number()
  +form(mod="add-number" data-validate)&attributes(attributes)#form-add-number
    input(type="hidden" name="itemId" value="" id="form-add-number-item-id")
    .form__fields
      +field(for="form-add-number-number" label="Число" required)
        +field__control()
          +input(type="text" name="number" id="form-add-number-number" placeholder="12345" required)
      +field(for="form-add-number-description" label="Описание" required)
        +field__control()
          +input(type="text" name="description" id="form-add-number-description" placeholder="Описание..." maxlength="50" required)
      +button(type="button" icon="trash" title="Удалить" mod="round delete").form__btn-delete
