.faq-section
  display flex
  flex-direction column
  gap 30px
  padding rem(60px) rem(20px)
  +desktop()
    padding rem(80px) rem(50px)

  &__grid
    display grid
    grid-template-columns 100%
    gap rem(30px)
    +desktop()
      grid-template-columns repeat(2, 1fr)

  &__col
    display flex
    flex-direction column
    gap 20px
    &-title
      margin 0
      font-weight 700
      font-size rem(18)
      text-align center
      +desktop()
        font-size rem(20px)

    & ^[0]__accordion
      &:last-child
        .collapse-item__top
          border-bottom-width 1px
      &:not(&:last-child)
        .collapse-item__content
          border-bottom-width 0
