include ../section-heading/section-heading
include ../collapse-item/collapse-item

mixin faq-section()
  -
    const props = initComponent('faq-section', attributes, []);

  section.faq-section&attributes(attributes)
    +section-heading(title="FAQ" text!="Ответы на все популярные вопросы")
    .faq-section__grid
      .faq-section__col 
        h3.faq-section__col-title Возврат средств
        .faq-section__collapses 
          +collapse-item(heading="Заголовок 1" content-id="faq-section-accordion-1").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
          +collapse-item(heading="Заголовок 2" content-id="faq-section-accordion-2").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
          +collapse-item(heading="Заголовок 3" content-id="faq-section-accordion-3").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
      .faq-section__col 
        h3.faq-section__col-title Доставка
        .faq-section__collapses 
          +collapse-item(heading="Заголовок 4" content-id="faq-section-accordion-4").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
          +collapse-item(heading="Заголовок 5" content-id="faq-section-accordion-5").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
      .faq-section__col
        h3.faq-section__col-title Возврат средств
        .faq-section__collapses 
          +collapse-item(heading="Заголовок 6" content-id="faq-section-accordion-6").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
          +collapse-item(heading="Заголовок 7" content-id="faq-section-accordion-7").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
          +collapse-item(heading="Заголовок 8" content-id="faq-section-accordion-8").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
      .faq-section__col 
        h3.faq-section__col-title Оплата
        .faq-section__collapses 
          +collapse-item(heading="Заголовок 9" content-id="faq-section-accordion-9").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
          +collapse-item(heading="Заголовок 10" content-id="faq-section-accordion-10").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
          +collapse-item(heading="Заголовок 11" content-id="faq-section-accordion-11").faq-section__accordion
            p Для оформления возврата средств свяжитесь с нашей службой поддержки через форму обратной связи или по указанному телефону. Укажите номер вашего заказа и причину возврата. Возврат будет обработан в течение 5–7 рабочих дней после подтверждения запроса.
