.textarea
  display block
  box-sizing border-box
  width 100%
  min-height rem(160px)
  padding rem(10px) rem(15px)
  color var(--color-gray-dark)
  font-weight 400
  font-size rem(16px)
  line-height 1.5
  background-color var(--color-white)
  background-clip padding-box
  border 1px solid var(--color-gray)
  border-radius 0
  transition all .2s ease
  appearance none
  resize vertical
  custom-scrollbar(3px, var(--color-gray), var(--color-dark))
  &:invalid
    box-shadow none
  &:focus-visible
    border-color var(--color-dark-soft)
    outline none
  &::placeholder
    color var(--color-gray-dark)
    opacity 1
  &:disabled
    color var(--color-gray)
    border-color var(--color-gray)
    pointer-events none
    &::placeholder
      color var(--color-gray)
  &:-webkit-autofill
    transition background-color 10000000s ease-out
  // &::-webkit-resizer
  //   display none

  .is-invalid &
    color var(--color-error)
    border-color var(--color-error)

  &--white
    padding 10px 30px
    border-color var(--color-white)
    &:hover
      background-color #f2f8ff
      border-color #e0efff
    &:focus-visible
      background-color var(--color-white)
      border-color #3388ff
    &:disabled
    &.disabled
      border-color #c0d6f6
    &::placeholder
      color #425978

  &--short
    min-height rem(60px)

  &-count-wrapper
    position relative
    overflow hidden
    // textarea
    //     padding-bottom 30px

  &-count-length
    position absolute
    right rem(12px)
    bottom rem(8px)
    display inline-block
    padding rem(4px) rem(4px)
    color var(--color-gray)
    font-weight 500
    font-size rem(12px)
    line-height 1.4
    text-align right
    ^[0]:focus + &
      color var(--color-gray-dark)




