.textarea
  display block
  box-sizing border-box
  width 100%
  min-height rem(240px)
  padding rem(20px) rem(24px) 50px
  color var(--color-grey-700)
  font-weight 500
  font-size rem(16px)
  line-height 1.5
  background-color var(--color-grey-200)
  background-clip padding-box
  border 2px solid var(--color-grey-200)
  border-radius rem(24px)
  transition all .2s ease
  appearance none
  resize vertical
  custom-scrollbar(6px, var(--color-grey-200), var(--color-grey-500))
  &:invalid
    box-shadow none
  &:hover
    border-color var(--color-blue-300)
  &:focus-visible
    background-color var(--color-grey-200)
    border-color var(--color-blue-300)
    outline none
  &::placeholder
    color var(--color-text-light)
    opacity 1
  &:disabled
    background-color var(--color-grey-400)
    border-color var(--color-grey-400)
    pointer-events none
  &:-webkit-autofill
    transition background-color 10000000s ease-out
  &::-webkit-resizer
    display none

  .is-invalid &
    color var(--color-error)
    border-color var(--color-error)

  &--white
    padding 10px 30px
    border-color var(--color-white)
    &:hover
      background-color #f2f8ff
      border-color #e0efff
    &:focus-visible
      background-color var(--color-white)
      border-color #3388ff
    &:disabled
    &.disabled
      border-color #c0d6f6
    &::placeholder
      color #425978

  &--short
    min-height rem(160px)

  &-count-wrapper
    position relative
    overflow hidden
    border-radius rem(24px)
    // textarea
    //     padding-bottom 30px

  &-count-length
    position absolute
    bottom rem(12px)
    left rem(20px)
    display inline-block
    padding rem(4px) rem(4px)
    color var(--color-grey-600)
    font-weight 500
    font-size rem(12px)
    line-height 1.4
    text-align right
    background-color var(--color-grey-200)
    ^[0]:focus + &
      background-color var(--color-grey-200)




