include ../input/input

mixin counter()
  -
    const props = initComponent('counter', attributes, []);

  .counter&attributes(attributes)
    button(type="button").counter__btn.counter__btn--minus
    +input(type="number" value="0" name="counter-item").counter__input
    button(type="button").counter__btn.counter__btn--plus
