.range-fields
  display flex
  flex-direction column
  gap rem(24px)

  &__slider
    width calc(100% - 8px)
    margin 0 auto

  &__fields
    --columns 2
    display grid
    grid-template-columns repeat(var(--columns), minmax(0, 1fr))
    gap rem(12px)
    margin 0

  &__field
    position relative
