include ../carousel/carousel
include ../reviews-card/reviews-card

mixin reviews()
  -
    const props = initComponent('reviews', attributes, []);

    const cards = [
      { name: "Василиса Мирная", text: "<p>Внимание к деталям имеет первостепенное значение, если вы хотите хорошо выглядеть.</p>" },
      { name: "Артём Аграрный", text: "<p>Внимание к деталям имеет первостепенное значение, если вы хотите хорошо выглядеть.</p>" },
      { name: "Дима Короткий", text: "<p>Внимание к деталям имеет первостепенное значение, если вы хотите хорошо выглядеть.</p>" },
      { name: "Алина Шестакович", text: "<p>Внимание к деталям имеет первостепенное значение, если вы хотите хорошо выглядеть.</p><p>Внимание к деталям имеет первостепенное значение, если вы хотите хорошо выглядеть.</p><p>Внимание к деталям имеет первостепенное значение, если вы хотите хорошо выглядеть.</p>" },
      { name: "Кирилл Абрамович", text: "<p>Внимание к деталям имеет первостепенное значение, если вы хотите хорошо выглядеть.Внимание к деталям имеет первостепенное значение, если вы хотите хорошо выглядеть.Внимание к деталям имеет первостепенное значение, если вы хотите хорошо выглядеть.</p><p>Внимание к деталям имеет первостепенное значение, если вы хотите хорошо выглядеть.</p>" },
    ]

  section.reviews&attributes(attributes)
    +section-heading(mod="linear" title="Отзывы покупаталей" text="Наши рекомендации: Несколько из тысяч довольных отзывов клиентов...")
    +carousel(mod="reviews" data-autoplay="5000").reviews__carousel
      each item, num in cards
        +reviews-card(num=num mod="slide" name!=item.name text!=item.text).carousel__item.swiper-slide
  