mixin nav-btn()
  -
    const props = initComponent('nav-btn', attributes, []);

  button(type="button" aria-label="Меню").nav-btn&attributes(attributes)
    span.nav-btn__line
    span.nav-btn__line
    span.nav-btn__line
