include ../icon/icon

mixin stars-row()
  -
    const props = initComponent('stars-row', attributes, ['stars', 'hiddenCount']);

    props.stars = props.stars || 0;

  span.stars-row&attributes(attributes)
    span.stars-row__icons
      - for(let i = 0; i < 5; i++)
        - if (i < props.stars)
          +icon("star-filled")
        - else
          +icon("star-empty")
    - if (!props.hiddenCount)
      span.stars-row__text!= `${props.stars}/5`
