.stars-row
  display flex
  gap 10px
  align-items center

  &__icons
    display flex
    gap 3px
    .icon
      size 20px
      fill var(--color-green)

  &__text
    color var(--color-dark)
    font-size rem(12px)
    line-height 1
