include ./popup
include ../button/button
include ../user-review/user-review

mixin popup--user-review()
  -
    const props = initComponent('popup', attributes, []);

  +popup(id="popup-user-review" mod="user-review middle")&attributes(attributes)
    +popup__header()
      h2.popup__title Отзыв абитуриента
    +popup__main()
      +user-review()
