include ./popup
include ../button/button
include ../form/form--add-exam

mixin popup--add-exam()
  +popup(id="popup-add-exam" mod="add-exam middle")&attributes(attributes)
    +popup__header()
      h2.popup__title Вступительное испытание
    +popup__main()
      +form--add-exam()
    +popup__footer()
      .popup__buttons
        +button(type="submit" label="Сохранить" form="form-add-exam").popup__btn-save
        +button(label="Очистить" mod="outline" data-popup-close).popup__btn-cancel
