@font-face
  font-weight 300
  font-family "Raleway"
  font-style normal
  src url("../fonts/Raleway-Light/Raleway-Light.eot")
  src url("../fonts/Raleway-Light/Raleway-Light.woff2") format("woff2"),
    url("../fonts/Raleway-Light/Raleway-Light.woff") format("woff"),
    url("../fonts/Raleway-Light/Raleway-Light.ttf") format("truetype"),
    url("../fonts/Raleway-Light/Raleway-Light.eot?#iefix") format("embedded-opentype")
  font-display swap

@font-face
  font-weight 400
  font-family "Raleway"
  font-style normal
  src url("../fonts/Raleway-Regular/Raleway-Regular.eot")
  src url("../fonts/Raleway-Regular/Raleway-Regular.woff2") format("woff2"),
    url("../fonts/Raleway-Regular/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular/Raleway-Regular.ttf") format("truetype"),
    url("../fonts/Raleway-Regular/Raleway-Regular.eot?#iefix") format("embedded-opentype")
  font-display swap

@font-face
  font-weight 500
  font-family "Raleway"
  font-style normal
  src url("../fonts/Raleway-Medium/Raleway-Medium.eot")
  src url("../fonts/Raleway-Medium/Raleway-Medium.woff2") format("woff2"),
    url("../fonts/Raleway-Medium/Raleway-Medium.woff") format("woff"),
    url("../fonts/Raleway-Medium/Raleway-Medium.ttf") format("truetype"),
    url("../fonts/Raleway-Medium/Raleway-Medium.eot?#iefix") format("embedded-opentype")
  font-display swap

@font-face
  font-weight 600
  font-family "Raleway"
  font-style normal
  src url("../fonts/Raleway-SemiBold/Raleway-SemiBold.eot")
  src url("../fonts/Raleway-SemiBold/Raleway-SemiBold.woff2") format("woff2"),
    url("../fonts/Raleway-SemiBold/Raleway-SemiBold.woff") format("woff"),
    url("../fonts/Raleway-SemiBold/Raleway-SemiBold.ttf") format("truetype"),
    url("../fonts/Raleway-SemiBold/Raleway-SemiBold.eot?#iefix") format("embedded-opentype")
  font-display swap

@font-face
  font-weight 700
  font-family "Raleway"
  font-style normal
  src url("../fonts/Raleway-Bold/Raleway-Bold.eot")
  src url("../fonts/Raleway-Bold/Raleway-Bold.woff2") format("woff2"),
    url("../fonts/Raleway-Bold/Raleway-Bold.woff") format("woff"),
    url("../fonts/Raleway-Bold/Raleway-Bold.ttf") format("truetype"),
    url("../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix") format("embedded-opentype")
  font-display swap
