// Fonts
$font-family-J                  = 'Jost', sans-serif
$font-family-M                  = 'Manrope', sans-serif
$font-family                    = $font-family-J

$desktop                        = 80em

// Colors

:root
  --color-white               #ffffff
  --color-black               #000000

  --color-base                #f7ba01
  --color-primary             #daa174

  --color-red                 #f70000
  --color-red-bg              #ffdbdc
  --color-red-border          #ffbfc1

  --color-dark                #060606
  --color-dark-soft           #7d7d7d
  --color-dark-border         #363636

  --color-gray                #e2e2e2
  --color-gray-dark           #7a7a7a
  --color-gray-soft           #f8f9fa
  --color-gray-softer         #f7f7f8

  --color-green               #599078
  --color-green-soft          #c0f0dc

  --color-purple              #6c5ebc
  --color-purple-soft         #d8d2ff

  --color-yellow              #efde35
  --color-yellow-soft         #fffda5

  --color-brown               #ecdbba

  --color-blue                #002597
  --color-blue-soft           #b5c7ff
  --color-blue-dark           #011962

  --color-bg-soft             #f5f4ee
  --color-border              #f0f0f1
  --color-border-radius        4px

  --color-text                var(--color-dark-soft)
  --color-text-dark           var(--color-dark)
  // --color-text-light          #4d5a74

  --bg-color                  var(--color-white)
  --bg-color-dark             #060606
  --bg-color-gray             #e2e2e2


  --color-success             #398f14
  --color-success-bg          #d4ffe7
  --color-success-border      #b5fdb0

  --color-error             var(--color-red)
  --color-error-bg          var(--color-red-bg)
  --color-error-border      var(--color-red-border)

  --color-warning             #c28e00
  --color-warning-bg          #fffcf2
  --color-warning-border      #faeecf

  --color-info                #1e73be
  --color-info-bg             #daedfd
  --color-info-border         #b0daff

  --color-link                var(--color-dark)
  --color-hover               rgba(6, 6, 6, .8)
  --color-outline             var(--color-primary)
