// Fonts
$font-family-MA                 = "Montserrat Alternates", sans-serif
$font-family-P                  = "Philosopher", sans-serif
$font-family                    = $font-family-MA

$desktop                        = 80em

// Colors

:root
  --color-white               #ffffff
  --color-black               #000000

  --color-grey-100            #fafcff
  --color-grey-200            #f2f5fc
  --color-grey-300            #e8edf7
  --color-grey-400            #d6ddf1
  --color-grey-500            #d2dcef
  --color-grey-600            #7c8aa6
  --color-grey-700            #4d5a74
  --color-grey-800            #1b1f29

  --color-blue-100            #cce0ff
  --color-blue-200            #8fb8ff
  --color-blue-300            #6e99ff
  --color-blue-400            #4d7cff
  --color-blue-500            #2c5bf2
  --color-blue-600            #2c4bca

  --color-green-100           #e3fcec
  --color-green-200           #a8eec1
  --color-green-300           #74d99f
  --color-green-400           #38c172
  --color-green-500           #249d57
  --color-green-600           #187741
  --color-green-700           #155239

  --color-red-100             #ffeaed
  --color-red-200             #ffcdd3
  --color-red-300             #f0999d
  --color-red-400             #e57375
  --color-red-500             #ef5351
  --color-red-600             #e73838
  --color-red-700             #c92727

  --color-red-grey-500        #d1b8b8
  --color-red-grey-600        #a69292
  --color-red-grey-700        #746969
  --color-red-grey-800        #291b1b

  --color-yellow-900          #713f12
  --color-yellow-800          #854d0e
  --color-yellow-700          #a16207
  --color-yellow-600          #ca8a04
  --color-yellow-500          #eab308
  --color-yellow-400          #facc15
  --color-yellow-300          #fde047
  --color-yellow-200          #fef08a
  --color-yellow-100          #fef9c3
  --color-yellow-50           #fefce8

  --color-text                #1b1f29
  --color-text-dark           #000000
  --color-text-light          #4d5a74

  --color-red                 #e57375
  --color-blue                #4d7cff
  --color-green               #38c172

  --color-red-light           #f17474

  --bg-color                  #fafcff
  --bg-color-dark             #1d1d1d
  --bg-color-grey             #e3eaf7

  --color-error               var(--color-red-700)
  --color-success             var(--color-green-500)

  --color-primary             var(--color-blue-400)

  --color-link                var(--color-blue-400)
  --color-hover               var(--color-blue-600)
  --color-outline             var(--color-blue-400)

  --color-focus-shadow        rgba(13,110,253,.25)

  --box-shadow                0 -7px 31px 0 rgba(7, 30, 84, .15)
  --box-shadow-1              0 15px 40px 0 rgba(0, 72, 173, .1)

