include ../icon/icon

mixin social()
  -
    const props = initComponent('social', attributes, []);

  .social&attributes(attributes)
    ul.social__icons 
      li
        a(href="#")
          +icon('vk')
      li
        a(href="#")
          +icon('rutube')
      li
        a(href="#")
          +icon('ok')
      li
        a(href="#")
          +icon('tg')
      li
        a(href="#")
          +icon('youtube')
      li
        a(href="#")
          +icon('tiktok')
      li
        a(href="#")
          +icon('instagram')

mixin social--apps()
  -
    const props = initComponent('social', attributes, []);

  .social.social--apps&attributes(attributes)
    .social__text Скачать приложение:
    ul.social__icons 
      li
        a(href="#")
          img(src="assets/img/icons/app-store.png" alt="App-store")
      li
        a(href="#")
          img(src="assets/img/icons/google-play.png" alt="Google-play")
