include ../collapse/collapse

mixin collapse-item()
  -
    const props = initComponent('collapse-item', attributes, ['heading', 'content-id']);

  .collapse-item&attributes(attributes)
    .collapse-item__top
      button(type="button" data-collapse=`#${props['content-id']}` aria-expanded="false" aria-controls=props['content-id']).collapse-item__toggle
        span.collapse-item__icon
        span.collapse-item__title!= props.heading
    +collapse-collapse(id=props['content-id'] data-expanded="false").collapse-item__content
      block
