include ../breadcrumbs/breadcrumbs

mixin hero-banner()
  -
    const props = initComponent('hero-banner', attributes, ['title', 'breadcrumbs', 'img']);

  section.hero-banner&attributes(attributes)
    .hero-banner__content 
      - if (props.breadcrumbs)
        +breadcrumbs(items=props.breadcrumbs none-container)
      h2.hero-banner__title!= props.title
    - if (props.img)
      img(src=props.img alt="").hero-banner__bg
