.checkout
  padding rem(60px) rem(20px)
  +desktop()
    padding rem(80px) rem(50px)

  &__wrapper
    display flex
    flex-direction column
    gap 30px

  &__top
    display flex
    flex-direction column
    gap 20px

  &__toggle
    max-width 550px
    &-trigger
      display flex
      flex-wrap wrap
      gap 5px
      padding 10px 20px
      font-size rem(16px)
      background-color var(--color-gray-soft)
      border 1px solid var(--color-gray)
      button
        margin 0
        padding 0
        font-weight 500
        font-size rem(16px)
        background none
        border none
    &-form
      padding-top 20px

  &__form
    display grid
    grid-template-columns 100%
    gap 30px
    +desktop()
      grid-template-columns repeat(2, 1fr)
    &-col
      display flex
      flex-direction column
      gap 25px
    &-title
      margin 0
      font-size rem(18px)
      +above(48em)
        font-size rem(20px)
    &-order
      display flex
      flex-direction column
      gap 25px
      padding 20px
      border 2px solid var(--color-gray)
      +above(48em)
        padding 30px
      &-product
        border-bottom 1px solid var(--color-gray)
        &:first-of-type
          border-top 1px solid var(--color-gray)
      &-heading
        display flex
        flex-wrap wrap
        gap 6px
        align-items center
        justify-content space-between
      &-title
        color var(--color-dark)
        font-weight 500
      &-block
        display flex
        flex-direction column
        gap 4px
        padding 10px
        background-color var(--color-gray-soft)
        &-row
          display flex
          flex-wrap wrap
          gap 4px
          align-items center
          justify-content space-between
      &-text
        padding 15px
        border 1px solid var(--color-gray)
        p
          &:last-child
            margin-bottom 0
      &-collapses
        display flex
        flex-direction column
        gap 10px
        &-block
          .checkout__form-collapse
            padding-top 10px

  &__submit
    align-self flex-start


