mixin about-populated()
  -
    const props = initComponent('about-populated', attributes, []);

  .about-populated&attributes(attributes)
    .container
      .about-populated__wrapper 
        article.about-populated__item
          .about-populated__item-img.animated-item(data-settings='{"animation":"slideInUp","animationDelay":300}')
            img(src="assets/img/banners/banner-hero-01.jpg" alt="" decoding="async")
          .about-populated__item-content 
            h3.about-populated__item-subtitle.animated-item(data-settings='{"animation":"fadeInDown","animationDelay":300}') Обувь
            h2.about-populated__item-title.animated-item(data-settings='{"animation":"fadeInDown","animationDelay":400}') Современные и привлекательные линии
            .about-populated__item-text.animated-item(data-settings='{"animation":"fadeIn","animationDelay":600}')
              p Вдохновленный бунтарским духом Америки и интригой непоколебимой аутентичности, R13 был выпущен осенью 2009 года. Компания R13, являющаяся лидером в области дизайна, создает авангардные силуэты, такие как узкие леггинсы и шаровары из итальянского и турецкого денима, производимого в Кастельфранко, Италия. Благодаря чистому оттенку индиго, качественной эластичности и ручной машинной починке джинсы приобретают превосходную форму
        article.about-populated__item 
          .about-populated__item-img.animated-item(data-settings='{"animation":"slideInUp"}')
            img(src="assets/img/banners/banner-hero-02.jpg" alt="" decoding="async")
          .about-populated__item-content 
            h3.about-populated__item-subtitle.animated-item(data-settings='{"animation":"slideInUp","animationDelay":300}') Рубашки
            h2.about-populated__item-title.animated-item(data-settings='{"animation":"slideInUp","animationDelay":400}') Захватывающий и инновационный
            .about-populated__item-text 
              p.animated-item(data-settings='{"animation":"slideInUp","animationDelay":500}') Вдохновленный бунтарским духом Америки и интригой непоколебимой аутентичности, R13 был выпущен осенью 2009 года. Компания R13, являющаяся лидером в области дизайна, создает авангардные силуэты, такие как узкие леггинсы и брюки-шаровары из итальянского и турецкого денима, производимого в Кастельфранко, Италия. Чистый оттенок индиго, качественная эластичность и ручная машинная починка придают джинсам превосходную форму и аутентичный вид…
              p.animated-item(data-settings='{"animation":"slideInUp","animationDelay":600}') Вдохновленный бунтарским духом Америки и интригой непоколебимой аутентичности, R13 был выпущен осенью 2009 года. Компания R13, являющаяся лидером в области дизайна, создает авангардные силуэты, такие как узкие леггинсы и шаровары из итальянского и турецкого денима, производимого в Кастельфранко, Италия. Благодаря чистому оттенку индиго, качественной эластичности и ручной машинной починке джинсы приобретают превосходную форму…
