extends ../layouts/main
include ../components/team/team
include ../components/reviews-single/reviews-single
include ../components/reviews/reviews

block append data
  -
    page.name = "about";
    page.title = "О нас";

block main
  +reviews-single()
  +reviews()
  +team()
