extends ../layouts/main

include ../components/hero-banner/hero-banner
include ../components/page-blog/page-blog

block append data
  -
    page.name = "blog";
    page.title = "Блог";

block main
  h1.visually-hidden Блог
  +hero-banner(title='Наш блог' breadcrumbs=[{label: "Главная", link: "home.html"},{label: "Блог"}])
  +page-blog()
