extends ../layouts/main

include ../components/hero-banner/hero-banner

block append data
  -
    page.name = "cart";
    page.title = "Корзина";

block main
  h1.visually-hidden Ваша корзина
  +hero-banner(title='Ваша корзина' breadcrumbs=[{label: "Главная", link: "home.html"},{label: "Корзина"}])
