extends ../layouts/main

include ../components/contacts-section/contacts-section

block append data
  -
    page.name = "contacts";
    page.title = "Контакты";

block main
  h1.visually-hidden Контакты
  +contacts-section()
