extends ../layouts/main

include ../components/shop/shop

block append data
  -
    page.name = "error-404";
    page.title = "Страница не найдена";

block main
  h1.visually-hidden Страница не найдена
