extends ../layouts/main

include ../components/shop/shop
include ../components/hero-banner/hero-banner
include ../components/error-section/error-section

block append data
  -
    page.name = "error-404";
    page.title = "Страница не найдена";

block main
  h1.visually-hidden Страница не найдена
  +hero-banner(title='Ошибка 404' breadcrumbs=[{label: "Главная", link: "home.html"},{label: "Страница не найдена"}])
  +error-section()
