extends ../layouts/main

include ../components/reviews-single/reviews-single
include ../components/hero-slider/hero-slider

block append data
  -
    page.name = "home";
    page.title = "Главная страница";

block main
  h1.visually-hidden Главная
  +hero-slider()
  +reviews-single()
