extends ../layouts/main

include ../components/reviews-single/reviews-single
include ../components/hero-slider/hero-slider
include ../components/reviews/reviews
include ../components/categories/categories
include ../components/featured-section/featured-section
include ../components/parallax-banner/parallax-banner

block append data
  -
    page.name = "home";
    page.title = "Главная страница";

block main
  h1.visually-hidden Главная
  +hero-slider()
  +categories()
  +featured-section()
  +reviews()
  +parallax-banner(img="assets/img/banners/banner-parallax.jpg" label!="Новый сезон" title!="Назад в прошлое:" text!="Вы можете многое скрыть за театральностью, а мне больше не нужно этого делать. Мои отношения с продюсерами или фотографами — это отношения, на которые ушли годы.")
  +reviews-single()
