extends ../layouts/main

include ../components/reviews-single/reviews-single

block append data
  -
    page.name = "home";
    page.title = "Главная страница";

block main
  h1.visually-hidden Главная
  +reviews-single()
