extends ../layouts/main

include ../components/reviews-single/reviews-single
include ../components/hero-slider/hero-slider
include ../components/reviews/reviews
include ../components/categories/categories
include ../components/featured-section/featured-section

block append data
  -
    page.name = "home";
    page.title = "Главная страница";

block main
  h1.visually-hidden Главная
  +hero-slider()
  +categories()
  +featured-section()
  +reviews()
  +reviews-single()
