extends ../layouts/main

include ../components/interested-section/interested-section
include ../components/product-section/product-section

block append data
  -
    page.name = "product";
    page.title = "Конкретный продукт";

block main
  h1.visually-hidden Свитер GUCCI
  +product-section()
  +interested-section()
