include ../search-btn/search-btn
include ../input/input
include ../icon/icon
include ../loading-icon/loading-icon
include ../suggestion-item/suggestion-item

mixin search-form()
  -
    const props = initComponent('search-form', attributes, []);

  form().search-form&attributes(attributes)#search-form
    .search-form__field
      label(for="search-form-q").search-form__label.visually-hidden Поиск по сайту
      +input(type="search" name="q" id="search-form-q" placeholder="Поиск по всему сайту" autocomplete="off" autocapitalize="off" spellcheck="false" mod="search").search-form__input
      button(type="submit").search-form__submit
        +icon("search")
      //- button(type="button" aria-label="Сбросить поиск").search-form__btn-clear
      +loading-icon().search-form__loading-icon
    .search-form__suggestions
      +suggestion-item(img="assets/img/products/product-name-92-1-60x60.jpeg" title="Свитер GUCCI" price-old="280 000 ₽" price-new="230 000 ₽")
      +suggestion-item(img="assets/img/products/product-name-125-60x60.jpeg" title="Кроссовки ADIDAS" price-new="30 00 ₽ – 40 00 ₽")
      //- a(href="#").search-form__suggestion
      //-   span.search-form__suggestion-img
      //-     img(src="assets/img/products/product-name-92-1-60x60.jpeg" alt="Свитер GUCCI")
      //-   span.search-form__suggestion-content 
      //-     span.search-form__suggestion-title Свитер GUCC
      //-       strong I
      //-     span.search-form__suggestion-price 
      //-       span.search-form__suggestion-price-old 280 000 ₽
      //-       span.search-form__suggestion-price-new 230 000 ₽
      //- a(href="#").search-form__suggestion
      //-   span.search-form__suggestion-img
      //-     img(src="assets/img/products/product-name-125-60x60.jpeg" alt="Свитер GUCCI")
      //-   span.search-form__suggestion-content 
      //-     span.search-form__suggestion-title Кроссовки AD
      //-       strong I
      //-       | DAS 
      //-     span.search-form__suggestion-price 
      //-       span.search-form__suggestion-price-new 30 00 ₽ – 40 00 ₽
