mixin about-intro()
  -
    const props = initComponent('about-intro', attributes, []);

  section.about-intro(style="background-image: url(assets/img/banners/banner-hero-01.jpg)")&attributes(attributes)
    .about-intro__content.animated-item(data-settings='{"animation":"fadeIn","animationDelay":300}')
      .about-intro__subtitle VAVU
      h2.about-intro__title Мы верим, что все мы можем изменить ситуацию к лучшему.
      p.about-intro__text Эстетичный бранч polaroid на заказ, леггинсы vice kale chips из необработанного денима для селфи 90-х годов.
        