.header
  position sticky
  top 0
  right 0
  left 0
  z-index 100
  display block
  width 100%
  background-color var(--color-white)
  transition background-color .5s
  transition-duration .3s
  +desktop()
    display none

  &--scrolled
    position sticky
    background-color var(--color-white)
    +above(80em)
      background-color var(--color-white)
      border-bottom-color var(--color-white)
      border-bottom-width 1px
      border-bottom-style solid
    +above(100em)
      border-bottom-width 2px

  &__container
    display flex
    flex-flow row nowrap
    align-items center
    height 64px
    padding 0 20px
    &::before
      position absolute
      top 0
      left 0
      z-index 120
      display block
      width 100%
      height 100%
      background-color var(--color-white)
      content ""
      .page--nav-open &
        opacity 1
    +above(80em)
      position relative
      height 80px
      &::before
        display none
    +above(100em)
      padding-right 40px
      padding-left 40px
    +above(110em)
      padding-right 60px
      padding-left 60px

  &__logo
    position relative
    top -3px
    z-index 130
    flex 0 0 auto
    width 80px
    color var(--color-dark)
    +above(48em)
      width 100px
    a
      color inherit
      transition color .3s ease
    a:hover
    a:focus-visible
      color var(--color-hover)

  &__actions
    display flex
    gap 15px
    margin-left auto

  &__search-btn
  &__nav-btn
    position relative
    z-index 130
    flex 0 0 auto
