.checkbox
  display inline-block

  input
    visually-hidden()

  &__label
    position relative
    display flex
    flex-flow row nowrap
    gap 10px
    align-items flex-start
    width auto
    margin 0
    color var(--color-dark)
    font-weight 500
    font-size rem(10px)
    font-family $font-family
    line-height 1.4
    text-transform uppercase
    cursor pointer
    transition all .2s ease
    user-select-none()

  &__check
    position relative
    display block
    flex 0 0 auto
    margin 2px 0
    background-color #d1d3d1
    border none
    border-radius 0
    transition all .2s ease
    size 13px
    // &::after
    //   position absolute
    //   top 50%
    //   left 50%
    //   display block
    //   margin-top -7px
    //   margin-left -3px
    //   border-color var(--color-white)
    //   border-style none solid solid none
    //   border-width 1px
    //   transform rotate(45deg)
    //   opacity 0
    //   transition all .2s ease
    //   content ""
    //   size 6px 11px
    .is-invalid &
      border-color var(--color-error)

  &__caption
    padding-top rem(2px)


  input:checked + ^[0]__label ^[0]__check
    background-color var(--color-dark)

  input:disabled + ^[0]__label ^[0]__check
    background-color var(--color-gray)
    cursor default

  input:disabled + ^[0]__label
    color var(--color-gray)
    cursor default

  input:disabled + ^[0]__label ^[0]__check + ^[0]__caption
    opacity .5



