.error-section
  display flex
  flex-direction column
  gap 30px
  align-items flex-start
  padding rem(60px) rem(20px)
  border-bottom 1px solid #e1e2e3
  +desktop()
    padding rem(80px) rem(50px)

  &__title
    margin 0
    color var(--color-primary)
    font-weight 700
    font-size rem(120px)
    line-height 1

  &__text
    max-width 310px
    color var(--color-dark)
    font-weight 500
    &:last-child
      margin-bottom 0
    p
      &:last-child
        margin-bottom 0
