.footer
  --color-text #d3ddf0
  --color-hover var(--color-blue-300)
  --color-border rgba(211,221,240,.3)
  color var(--color-text)
  background-color var(--color-grey-800)

  &__container
    container()

  &__main
    padding-top rem(30px)
    padding-bottom rem(30px)
    +desktop()
      padding-top rem(60px)
      padding-bottom rem(60px)

  &__main-grid
    display grid
    grid-template-areas "first" "second" "third" "fourth" "fifth" "sixth" "seventh"
    grid-template-columns 100%
    gap rem(40px) 0
    +above(64em)
      grid-template-areas "first second third" "fourth fifth sixth" "seventh . ."
      grid-template-columns repeat(3, minmax(0, 1fr))
      gap rem(90px) rem(40px)
    +desktop()
      grid-template-areas "first second second third" "fourth fifth sixth seventh"
      grid-template-columns repeat(4, minmax(0, 1fr))
    ^[0]--short &
      display flex
      flex-direction column
      gap rem(40px)
      +above(48em)
        flex-flow row nowrap
        gap rem(40px) rem(90px)
        align-items flex-start
      +above(64em)
        gap rem(40px) rem(90px)
      +desktop()
        gap rem(40px) rem(120px)

  &__main-col
    &:nth-child(1)
      grid-area first
      +above(64em)
        display flex
        flex-direction column
        justify-content space-between
      ^[0]--short &
        +above(48em)
          flex 0 0 auto
    &:nth-child(2)
      grid-area second
      ^[0]--short &
        +above(48em)
          flex 0 1 100%
    &:nth-child(3)
      grid-area third
    &:nth-child(4)
      grid-area fourth
    &:nth-child(5)
      grid-area fifth
    &:nth-child(6)
      grid-area sixth
    &:nth-child(7)
      grid-area seventh

  &__logo
    max-width 168px
    margin-bottom rem(60px)
    color var(--color-white)
    a:hover
    a:focus-visible
      color var(--color-blue-400)
    ^[0]--short &
      margin-bottom rem(24px)


  &__contacts-title
    margin 0 0 rem(12px)
    color var(--color-white)
    font-weight 600
    font-size rem(18px)


  &__contact
    margin 0
    color var(--color-white)
    font-weight 500
    font-size rem(15px)
    &:not(:last-child)
      margin-bottom rem(12px)
    +desktop()
      font-size rem(16px)

    a
      color inherit
      text-decoration none
      &:hover
      &:focus-visible
        color var(--color-blue-400)
        text-decoration none

  &__bottom
    position relative
    +above(64em)
      padding-top 1px
      &::before
        position absolute
        top 0
        right 0
        left 0
        height 1px
        background-color var(--color-border)
        content ""

  &__bottom-grid
    display flex
    flex-flow row wrap
    gap rem(20px)
    align-items flex-start
    justify-content space-between
    padding rem(24px) 0
    font-size rem(14px)
    +desktop()
      padding rem(32px) 0
    p
      margin 0
    a
      color inherit
      text-decoration none
      &:hover
        color var(--color-blue-400)
        text-decoration none

  // &__social
  //   margin-bottom rem(26px)
