block append data
  -
    var menuItemsAbout = [
      {text: "О России", href: "about-russia.html"},
      {text: "Транспорт и&nbsp;путешествия", href: "transport-and-travel.html"},
      {text: "Русский мир", href: "russian-world.html"},
      {text: "Наука, культура и&nbsp;искусство", href: "science-culture-arts.html"},
      {text: "Русский язык", href: "russian-language.html"},
      {text: "Система образования", href: "education-system.html"},
      {text: "Традиционные ценности", href: "traditional-values.html"},
      {text: "Переезд в&nbsp;Россию", href: "moving-to-russia.html"},
      {text: "Природа и&nbsp;климат", href: "nature-and-climate.html"},
      {text: "Жизнь в&nbsp;России", href: "life-in-russia.html"},
    ]

    var menuItemsUniversities = [
      {text: "Вузы России", href: "institutions.html"},
      {text: "Рейтинги", href: "rankings.html"},
      {text: "Международное сотрудничество", href: "international-cooperation.html"},
      {text: "Знаменитые выпускники", href: "famous-graduates.html"},
      {text: "Виды вузов", href: "institution-types.html"},
    ]

    var menuItemsEducation = [
      {text: "Высшее", href: "higher-education.html"},
      {text: "Курсы", href: "courses.html"},
      {text: "Летние и&nbsp;зимние школы", href: "season-schools.html"},
      {text: "Олимпиады", href: "olympiads.html"},
      {text: "Студенческая жизнь", href: "student-life.html"},
      {text: "Истории студентов", href: "student-stories.html"},
    ]

    var menuItemsScholarships = [
      {text: "Квоты", href: "quotas.html"},
      {text: "Гранты", href: "grants.html"},
      {text: "Страны и&nbsp;программы", href: "countries-and-programes.html"},
    ]

    var menuItemsGraduation = [
      {text: "Работа в&nbsp;России", href: "work-in-russia.html"},
      {text: "Виза, РВП, ВНЖ и&nbsp;гражданство", href: "visa.html"},
      {text: "Ассоциации выпускников", href: "graduate-associations.html"},
    ]
