.footer
  &__main
    display flex
    flex-direction column
    gap 60px
    align-items flex-start
    padding rem(40px) rem(15px) rem(90px) rem(15px)
    background-color var(--color-dark)
    +above(48em)
      padding rem(70px) rem(60px) rem(90px) rem(60px)
    +above(54em)
      flex-direction row
    +above(85em)
      gap 80px
      padding rem(90px) rem(80px)
  &__col
    display flex
    flex-direction column
    gap 40px
    &:first-child
      +above(54em)
        max-width 60%
    &:nth-child(2)
      flex-direction row
      flex-wrap wrap
      gap 24px
      width 100%
      +above(54em)
        width 40%
      +above(85em)
        gap 40px
        & ^[0]__block
          width calc(50% - 20px)
      & ^[0]__block
        width calc(50% - 12px)
  &__title
    margin 0
    color var(--color-white)
    font-weight 700
    font-size rem(26px)
  &__block
    display flex
    flex-direction column
    gap 12px
    +above(48em)
      gap 24px
    &-title
      margin 0
      color var(--color-white)
      font-weight 700
      font-size rem(18px)
      +above(48em)
        font-size rem(20px)
    &-text
      &:last-child
        margin-bottom 0
      p
        &:last-child
          margin-bottom 0

  &__contacts
    display flex
    flex-direction column
    gap 15px

  &__contact
    color var(--color-white)
    a
      color var(--color-white)
      transition all .2s ease
      &:hover
      &:focus-visible
        color var(--color-gray-dark)
        text-decoration none

  &__payments
    width fit-content
    max-height 21px

  &__links
    margin 0
    padding 0
    list-style none
    &-item
      &:not(&:last-child)
        margin-bottom 10px
    &-link
      position relative
      padding-bottom 5px
      color var(--color-gray-dark)
      &:after
        position absolute
        bottom 0
        left 0
        width 0
        height 1px
        background-color #fff
        transition all .2s ease
        content ''
      &:hover
      &:focus-visible
        color var(--color-white)
        text-decoration none
        &:after
          width 100%

