.page
  display flex
  flex-direction column
  min-height 100vh
  min-height var(--doc-height)

  &--bg-white
    background-color var(--color-white)

  &--overlay-show
    & ^[0]__overlay
      width 100%
      height 100%
      opacity .7

  &__inner
    display flex
    flex 1 0 auto
    flex-direction column
    +desktop()
      width calc(100% - 360px)
      margin-left 360px

  &__overlay
    position fixed
    top 0
    right 0
    z-index 103
    width 0
    height 0
    background var(--color-bg-soft)
    cursor pointer
    cursor url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 512 512'%3E%3Cg transform='rotate(45 256 256)'%3E%3Crect x='16' y='216' width='480' height='80' rx='14'/%3E%3Crect x='216' y='16' width='80' height='480' rx='14'/%3E%3C/g%3E%3C/svg%3E") 16 16, pointer
    opacity 0
    transition opacity .45s cubic-bezier(.25,.46,.45,.94)

  &__main
  &__profile-main
    display flex
    flex 1 0 auto
    flex-direction column
    width 100%
    // min-height 100vh

  &__content
    flex 1 0 auto
    width 100%

  &__content-wrapper
    padding-top 0
    padding-bottom 64px
    +desktop()
      padding-top 64px

  &__header
  &__profile-header
  &__footer
    flex none
    width 100%

  &__container
    container()

  &__callback
    position relative
    display flex
    align-items center
    width 100vw
    height 100vh
    padding rem(60px) rem(20px)
    overflow hidden
    +above(48em)
      padding rem(60px)
