.reviews-single
  display block
  padding rem(60px) rem(20px)
  border-bottom 1px solid #e1e2e3
  +desktop()
    padding rem(80px) rem(50px)

  &__swiper
    display flex
    flex-direction column
    gap 40px
    align-items center
    justify-content center
    max-width 760px
    &-pagination
      display flex
      gap 10px
      justify-content center

  &__card
    display flex
    flex-direction column
    gap 30px
    align-items center
    +desktop()
      gap 40px
    &-heading
      display flex
      gap 20px
      align-items center
      +desktop()
        gap 30px
      &-content
        display flex
        flex-direction column
        gap 8px
      &-title
        margin 0
        color var(--color-dark)
        font-weight 700
        font-size rem(16px)
      &-status
        margin 0
        color var(--color-dark)
    &-avatar
      size 70px
      +desktop()
        size 100px
    &-content
      display flex
      flex-direction column
      gap 20px
      align-items center
      +desktop()
        gap 30px
    &-text
      font-size rem(18px)
      text-align center
