block append data
  -
    const optionsBasis = [
      { value: "1", text: "Бюджет" },
      { value: "2", text: "Коммерция" },
    ]
    
    const optionsLevels = [
      { value: "1", text: "Подготовительное отделение" },
      { value: "2", text: "Бакалавриат" },
      { value: "3", text: "Магистратура" },
      { value: "4", text: "Специалитет" },
    ]

    const optionsOrderTypes = [
      { value: "1", text: "Зачисление" },
      { value: "2", text: "Тип приказа 2" },
      { value: "3", text: "Тип приказа 3" },
      { value: "4", text: "Тип приказа 4" },
      { value: "5", text: "Тип приказа 5" },
    ];

    const optionsFamilyStatuses = [
      { value: "1", text: "Не замужем / не женат" },
      { value: "2", text: "Замужем / женат" },
      { value: "3", text: "Разведен / разведена" },
      { value: "4", text: "Вдовец / вдова" },
    ];
    
    const optionsFamilyManStatuses = [
      { value: "1", text: "Холост" },
      { value: "2", text: "Женат" },
      { value: "3", text: "Разведен" },
      { value: "4", text: "Вдовец" },
    ];
    const optionsLangLevels = [
      { value: "1", text: "A1, начальный" },
      { value: "2", text: "A2, ниже среднего" },
      { value: "3", text: "B1, средний" },
      { value: "4", text: "B2, выше среднего" },
      { value: "5", text: "C1, продвинутый" },
      { value: "6", text: "C2, профессиональный" },
    ];

    const optionsTransferTypes = [
      { value: "1", text: "На другую основу обучения" },
      { value: "2", text: "Тип перевода 2" },
      { value: "3", text: "Тип перевода 3" },
      { value: "4", text: "Тип перевода 4" },
      { value: "5", text: "Тип перевода 5" },
    ];
    
    const optionsStudyDirections = [
      { value: "1", text: "Юриспруденция"} ,
      { value: "2", text: "Дизайн"} ,
      { value: "3", text: "Экономика"} ,
      { value: "4", text: "Информатика и вычислительная техника"} ,
      { value: "5", text: "Сестринское дело" },
    ];

    const optionsEducationLevels = [
      { value: "1", text: "Школьное 9 классов" },
      { value: "2", text: "Школьное 11 классов" },
      { value: "3", text: "Среднее специальное" },
      { value: "4", text: "Высшее - Бакалавриат" },
      { value: "5", text: "Высшее - Магистратура" },
      { value: "6", text: "Высшее - Специалитет" },
    ];

    const optionsStudyForms = [
      { value: "1", text: "Очная" },
      { value: "2", text: "Заочная" },
      { value: "3", text: "Очно-заочная" },
    ];

    const optionsSabbaticalTypes = [
      { value: "1", text: "По семейным обстоятельствам" },
      { value: "2", text: "Вид отпуска 2" },
      { value: "3", text: "Вид отпуска 3" },
    ];

    const optionsBranches = [
      { value: "1", text: "Подразделение 1" },
      { value: "2", text: "Подразделение 2" },
      { value: "3", text: "Подразделение 3" },
      { value: "4", text: "Подразделение 4" },
      { value: "5", text: "Подразделение 5" },
    ];
    
    const optionsServiceTypes = [
      { value: "1", text: "Тип услуги 1" },
      { value: "2", text: "Тип услуги 2" },
      { value: "3", text: "Тип услуги 3" },
      { value: "4", text: "Тип услуги 4" },
      { value: "5", text: "Тип услуги 5" },
    ];
    
    const optionsMilitaryReserveCategories = [
      { value: "1", text: "Первый разряд" },
      { value: "2", text: "Второй разряд" },
      { value: "3", text: "Третий разряд" },
      { value: "4", text: "Четвертый разряд" },
      { value: "5", text: "Пятый разряд" },
    ];
    
    const optionsEligibilityCategories = [
      { value: "1", text: "А1" },
      { value: "2", text: "А2" },
      { value: "3", text: "А3" },
      { value: "4", text: "А4" },
      { value: "5", text: "Б1" },
      { value: "6", text: "Б2" },
      { value: "7", text: "Б3" },
      { value: "8", text: "Б4" },
      { value: "9", text: "В" },
      { value: "10", text: "Г" },
      { value: "11", text: "Д" },
    ];
    
    const optionsMilitaryRanks = [
      { value: "1", text: "Рядовой" },
      { value: "2", text: "Ефрейтор" },
      { value: "3", text: "Младший сержант" },
      { value: "4", text: "Сержант" },
      { value: "5", text: "Старший сержант" },
      { value: "6", text: "Старшина" },
      { value: "7", text: "Прапорщик" },
      { value: "8", text: "Старший прапорщик" },
      { value: "9", text: "Младший лейтенант" },
      { value: "10", text: "Лейтенант" },
      { value: "11", text: "Старший лейтенант" },
      { value: "12", text: "Капитан" },
      { value: "13", text: "Майор" },
      { value: "14", text: "Подполковник" },
      { value: "15", text: "Полковник" },
      { value: "16", text: "Генерал-майор" },
      { value: "17", text: "Генерал-лейтенант" },
      { value: "18", text: "Генерал-полковник" },
      { value: "19", text: "Генерал армии" },
      { value: "20", text: "Маршал Российской Федерации" },
    ];

    const optionsKinshipDegrees = [
      { value: "1", text: "Муж" },
      { value: "2", text: "Жена" },
      { value: "3", text: "Отец" },
      { value: "4", text: "Мать" },
      { value: "5", text: "Сын" },
      { value: "6", text: "Дочь" },
      { value: "7", text: "Дед" },
      { value: "8", text: "Бабка" },
      { value: "9", text: "Внук" },
      { value: "10", text: "Внучка" },
    ];

    const optionsSort = [
      { value: "1", text: "По рейтингу" },
      { value: "2", text: "По убыванию" },
      { value: "3", text: "По возрастанию" },
      { value: "4", text: "По цене" },
    ];

    const optionsRegions = [
      { value: "1", text: "Республика Адыгея" },
      { value: "2", text: "Республика Алтай" },
      { value: "3", text: "Республика Башкортостан" },
      { value: "4", text: "Республика Бурятия" },
      { value: "5", text: "Республика Дагестан" },
      { value: "6", text: "Донецкая Народная Республика" },
      { value: "7", text: "Республика Ингушетия" },
      { value: "8", text: "Кабардино-Балкарская Республика" },
      { value: "9", text: "Республика Калмыкия" },
      { value: "10", text: "Карачаево-Черкесская Республика" },
      { value: "11", text: "Республика Карелия" },
      { value: "12", text: "Республика Коми" },
      { value: "13", text: "Республика Крым" },
      { value: "14", text: "Луганская Народная Республика" },
      { value: "15", text: "Республика Марий Эл" },
      { value: "16", text: "Республика Мордовия" },
      { value: "17", text: "Республика Саха (Якутия)" },
      { value: "18", text: "Республика Северная Осетия — Алания" },
      { value: "19", text: "Республика Татарстан" },
      { value: "20", text: "Республика Тыва" },
      { value: "21", text: "Удмуртская Республика" },
      { value: "22", text: "Республика Хакасия" },
      { value: "23", text: "Чеченская Республика" },
      { value: "24", text: "Чувашская Республика — Чувашия" },
      { value: "25", text: "Алтайский край" },
      { value: "26", text: "Забайкальский край" },
      { value: "27", text: "Камчатский край" },
      { value: "28", text: "Краснодарский край" },
      { value: "29", text: "Красноярский край" },
      { value: "30", text: "Пермский край" },
      { value: "31", text: "Приморский край" },
      { value: "32", text: "Ставропольский край" },
      { value: "33", text: "Хабаровский край" },
      { value: "34", text: "Амурская область" },
      { value: "35", text: "Архангельская область" },
      { value: "36", text: "Астраханская область" },
      { value: "37", text: "Белгородская область" },
      { value: "38", text: "Брянская область" },
      { value: "39", text: "Владимирская область" },
      { value: "40", text: "Волгоградская область" },
      { value: "41", text: "Вологодская область" },
      { value: "42", text: "Воронежская область" },
      { value: "43", text: "Запорожская область" },
      { value: "44", text: "Ивановская область" },
      { value: "45", text: "Иркутская область" },
      { value: "46", text: "Калининградская область" },
      { value: "47", text: "Калужская область" },
      { value: "48", text: "Кемеровская область - Кузбас" },
      { value: "49", text: "Кировская область" },
      { value: "50", text: "Костромская область" },
      { value: "51", text: "Курганская область" },
      { value: "52", text: "Курская область" },
      { value: "53", text: "Ленинградская область" },
      { value: "54", text: "Липецкая область" },
      { value: "55", text: "Магаданская область" },
      { value: "56", text: "Московская область" },
      { value: "57", text: "Мурманская область" },
      { value: "58", text: "Нижегородская область" },
      { value: "59", text: "Новгородская область" },
      { value: "60", text: "Новосибирская область" },
      { value: "61", text: "Омская область" },
      { value: "62", text: "Оренбургская область" },
      { value: "63", text: "Орловская область" },
      { value: "64", text: "Пензенская область" },
      { value: "64", text: "Псковская область" },
      { value: "66", text: "Ростовская область" },
      { value: "67", text: "Рязанская область" },
      { value: "68", text: "Самарская область" },
      { value: "69", text: "Саратовская область" },
      { value: "70", text: "Сахалинская область" },
      { value: "71", text: "Свердловская область" },
      { value: "72", text: "Смоленская область" },
      { value: "73", text: "Тамбовская область" },
      { value: "74", text: "Тверская область" },
      { value: "75", text: "Томская область" },
      { value: "76", text: "Тульская область" },
      { value: "77", text: "Тюменская область" },
      { value: "78", text: "Ульяновская область" },
      { value: "79", text: "Херсонская область" },
      { value: "80", text: "Челябинская область" },
      { value: "81", text: "Ярославская область" },
      { value: "82", text: "Москва" },
      { value: "83", text: "Санкт-Петербург" },
      { value: "84", text: "Севастополь" },
      { value: "85", text: "Автономная область" },
      { value: "86", text: "Еврейская АО" },
      { value: "87", text: "Автономные округа" },
      { value: "88", text: "Ненецкий АО" },
      { value: "89", text: "Ханты-Мансийский АО — Югра" },
      { value: "90", text: "Чукотский АО" },
      { value: "91", text: "Ямало-Ненецкий АО" },
    ];

    const optionsCountries = [
      { value: "1", text: "Австралия", code: "AU" },
      { value: "2", text: "Австрия", code: "AT" },
      { value: "3", text: "Азербайджан", code: "AZ" },
      { value: "4", text: "Албания", code: "AL" },
      { value: "5", text: "Алжир", code: "DZ" },
      { value: "6", text: "Ангола", code: "AO" },
      { value: "7", text: "Андорра", code: "AD" },
      { value: "8", text: "Аргентина", code: "AR" },
      { value: "9", text: "Армения", code: "AM" },
      { value: "10", text: "Афганистан", code: "AF" },
      { value: "11", text: "Багамские острова", code: "BS" },
      { value: "12", text: "Бангладеш", code: "BD" },
      { value: "13", text: "Барбадос", code: "BB" },
      { value: "14", text: "Бахрейн", code: "BH" },
      { value: "15", text: "Беларусь", code: "BY" },
      { value: "16", text: "Белиз", code: "BZ" },
      { value: "17", text: "Бельгия", code: "BE" },
      { value: "18", text: "Бенин", code: "BJ" },
      { value: "19", text: "Болгария", code: "BG" },
      { value: "20", text: "Боливия", code: "BO" },
      { value: "21", text: "Босния и Герцеговина", code: "BA" },
      { value: "22", text: "Ботсвана", code: "BW" },
      { value: "23", text: "Бразилия", code: "BR" },
      { value: "24", text: "Бруней", code: "BN" },
      { value: "25", text: "Буркина-Фасо", code: "BF" },
      { value: "26", text: "Бурунди", code: "BI" },
      { value: "27", text: "Бутан", code: "BT" },
      { value: "28", text: "Вануату", code: "VU" },
      { value: "29", text: "Великобритания", code: "GB" },
      { value: "30", text: "Венгрия", code: "HU" },
      { value: "31", text: "Венесуэла", code: "VE" },
      { value: "32", text: "Восточный Тимор", code: "TL" },
      { value: "33", text: "Вьетнам", code: "VN" },
      { value: "34", text: "Габон", code: "GA" },
      { value: "35", text: "Гаити", code: "HT" },
      { value: "36", text: "Гайана", code: "GY" },
      { value: "37", text: "Гамбия", code: "GM" },
      { value: "38", text: "Гана", code: "GH" },
      { value: "39", text: "Гваделупа", code: "GP" },
      { value: "40", text: "Гватемала", code: "GT" },
      { value: "41", text: "Гвинея", code: "GN" },
      { value: "42", text: "Гвинея-Бисау", code: "GW" },
      { value: "43", text: "Германия", code: "DE" },
      { value: "44", text: "Гондурас", code: "HN" },
      { value: "45", text: "Гонконг", code: "HK" },
      { value: "46", text: "Гренада", code: "GD" },
      { value: "47", text: "Греция", code: "GR" },
      { value: "48", text: "Грузия", code: "GE" },
      { value: "49", text: "Дания", code: "DK" },
      { value: "50", text: "Джибути", code: "DJ" },
      { value: "51", text: "Доминика", code: "DM" },
      { value: "52", text: "Доминиканская Республика", code: "DO" },
      { value: "53", text: "Египет", code: "EG" },
      { value: "54", text: "Замбия", code: "ZM" },
      { value: "55", text: "Зимбабве", code: "ZW" },
      { value: "56", text: "Израиль", code: "IL" },
      { value: "57", text: "Индия", code: "IN" },
      { value: "58", text: "Индонезия", code: "ID" },
      { value: "59", text: "Иордания", code: "JO" },
      { value: "60", text: "Ирак", code: "IQ" },
      { value: "61", text: "Иран", code: "IR" },
      { value: "62", text: "Ирландия", code: "IE" },
      { value: "63", text: "Исландия", code: "IS" },
      { value: "64", text: "Испания", code: "ES" },
      { value: "65", text: "Италия", code: "IT" },
      { value: "66", text: "Йемен", code: "YE" },
      { value: "67", text: "Кабо-Верде", code: "CV" },
      { value: "68", text: "Казахстан", code: "KZ" },
      { value: "69", text: "Камбоджа", code: "KH" },
      { value: "70", text: "Камерун", code: "CM" },
      { value: "71", text: "Канада", code: "CA" },
      { value: "72", text: "Катар", code: "QA" },
      { value: "73", text: "Кения", code: "KE" },
      { value: "74", text: "Кипр", code: "CY" },
      { value: "75", text: "Киргизия", code: "KG" },
      { value: "76", text: "Китай", code: "CN" },
      { value: "77", text: "Колумбия", code: "CO" },
      { value: "78", text: "Коморы", code: "KM" },
      { value: "79", text: "Конго", code: "CG" },
      { value: "80", text: "Коста-Рика", code: "CR" },
      { value: "81", text: "Кот-д'Ивуар", code: "CI" },
      { value: "82", text: "Куба", code: "CU" },
      { value: "83", text: "Кувейт", code: "KW" },
      { value: "84", text: "Лаос", code: "LA" },
      { value: "85", text: "Латвия", code: "LV" },
      { value: "86", text: "Лесото", code: "LS" },
      { value: "87", text: "Либерия", code: "LR" },
      { value: "88", text: "Ливан", code: "LB" },
      { value: "89", text: "Ливия", code: "LY" },
      { value: "90", text: "Литва", code: "LT" },
      { value: "91", text: "Люксембург", code: "LU" },
      { value: "92", text: "Маврикий", code: "MU" },
      { value: "93", text: "Мавритания", code: "MR" },
      { value: "94", text: "Мадагаскар", code: "MG" },
      { value: "95", text: "Македония", code: "MK" },
      { value: "96", text: "Малайзия", code: "MY" },
      { value: "97", text: "Мали", code: "ML" },
      { value: "98", text: "Мальдивы", code: "MV" },
      { value: "99", text: "Мальта", code: "MT" },
      { value: "100", text: "Марокко", code: "MA" },
      { value: "101", text: "Маршалловы острова", code: "MH" },
      { value: "102", text: "Мексика", code: "MX" },
      { value: "103", text: "Мозамбик", code: "MZ" },
      { value: "104", text: "Монако", code: "MC" },
      { value: "105", text: "Монголия", code: "MN" },
      { value: "106", text: "Мьянма", code: "MM" },
      { value: "107", text: "Намибия", code: "NA" },
      { value: "108", text: "Науру", code: "NR" },
      { value: "109", text: "Непал", code: "NP" },
      { value: "110", text: "Нигер", code: "NE" },
      { value: "111", text: "Нигерия", code: "NG" },
      { value: "112", text: "Нидерланды", code: "NL" },
      { value: "113", text: "Никарагуа", code: "NI" },
      { value: "114", text: "Новая Зеландия", code: "NZ" },
      { value: "115", text: "Норвегия", code: "NO" },
      { value: "116", text: "Объединенные Арабские Эмираты", code: "AE" },
      { value: "117", text: "Оман", code: "OM" },
      { value: "118", text: "Пакистан", code: "PK" },
      { value: "119", text: "Палау", code: "PW" },
      { value: "120", text: "Палестина", code: "PS" },
      { value: "121", text: "Панама", code: "PA" },
      { value: "122", text: "Папуа - Новая Гвинея", code: "PG" },
      { value: "123", text: "Парагвай", code: "PY" },
      { value: "124", text: "Перу", code: "PE" },
      { value: "125", text: "Польша", code: "PL" },
      { value: "126", text: "Португалия", code: "PT" },
      { value: "127", text: "Руанда", code: "RW" },
      { value: "128", text: "Румыния", code: "RO" },
      { value: "129", text: "Россия", code: "RU" },
      { value: "130", text: "Сальвадор", code: "SV" },
      { value: "131", text: "Самоа", code: "WS" },
      { value: "132", text: "Сан-Марино", code: "SM" },
      { value: "133", text: "Саудовская Аравия", code: "SA" },
      { value: "134", text: "Свазиленд", code: "SZ" },
      { value: "135", text: "Сейшельские острова", code: "SC" },
      { value: "136", text: "Сенегал", code: "SN" },
      { value: "137", text: "Сент-Винсент и Гренадины", code: "VC" },
      { value: "138", text: "Сент-Китс и Невис", code: "KN" },
      { value: "139", text: "Сербия", code: "RS" },
      { value: "140", text: "Сингапур", code: "SG" },
      { value: "141", text: "Сирия", code: "SY" },
      { value: "142", text: "Словакия", code: "SK" },
      { value: "143", text: "Словения", code: "SI" },
      { value: "144", text: "Сомали", code: "SO" },
      { value: "145", text: "Судан", code: "SD" },
      { value: "146", text: "Суринам", code: "SR" },
      { value: "147", text: "США", code: "US" },
      { value: "148", text: "Сьерра-Леоне", code: "SL" },
      { value: "149", text: "Таджикистан", code: "TJ" },
      { value: "150", text: "Таиланд", code: "TH" },
      { value: "151", text: "Танзания", code: "TZ" },
      { value: "152", text: "Того", code: "TG" },
      { value: "153", text: "Тонга", code: "TO" },
      { value: "154", text: "Тринидад и Тобаго", code: "TT" },
      { value: "155", text: "Тунис", code: "TN" },
      { value: "156", text: "Туркменистан", code: "TM" },
      { value: "157", text: "Турция", code: "TR" },
      { value: "158", text: "Уганда", code: "UG" },
      { value: "159", text: "Узбекистан", code: "UZ" },
      { value: "160", text: "Украина", code: "UA" },
      { value: "161", text: "Уругвай", code: "UY" },
      { value: "162", text: "Фиджи", code: "FJ" },
      { value: "163", text: "Филиппины", code: "PH" },
      { value: "164", text: "Финляндия", code: "FI" },
      { value: "165", text: "Франция", code: "FR" },
      { value: "166", text: "Хорватия", code: "HR" },
      { value: "167", text: "Центральноафриканская Республика", code: "CF" },
      { value: "168", text: "Чад", code: "TD" },
      { value: "169", text: "Черногория", code: "ME" },
      { value: "170", text: "Чехия", code: "CZ" },
      { value: "171", text: "Чили", code: "CL" },
      { value: "172", text: "Швейцария", code: "CH" },
      { value: "173", text: "Швеция", code: "SE" },
      { value: "174", text: "Шри-Ланка", code: "LK" },
      { value: "175", text: "Эквадор", code: "EC" },
      { value: "176", text: "Экваториальная Гвинея", code: "GQ" },
      { value: "177", text: "Эритрея", code: "ER" },
      { value: "178", text: "Эстония", code: "EE" },
      { value: "179", text: "Эфиопия", code: "ET" },
      { value: "180", text: "Южная Африка", code: "ZA" },
      { value: "181", text: "Южная Корея", code: "KR" },
      { value: "182", text: "Ямайка", code: "JM" },
      { value: "183", text: "Япония", code: "JP" },
    ];

    const optionsLanguages = [
      { value: "1", text: "Абхазский" },
      { value: "2", text: "Азербайджанский" },
      { value: "3", text: "Английский" },
      { value: "4", text: "Арабский" },
      { value: "5", text: "Армянский" },
      { value: "6", text: "Африкаанс" },
      { value: "7", text: "Баскский" },
      { value: "8", text: "Белорусский" },
      { value: "9", text: "Болгарский" },
      { value: "10", text: "Бенгальский" },
      { value: "11", text: "Бирманский" },
      { value: "12", text: "Венгерский" },
      { value: "13", text: "Вьетнамский" },
      { value: "14", text: "Голландский" },
      { value: "15", text: "Греческий" },
      { value: "16", text: "Грузинский" },
      { value: "17", text: "Дакхни" },
      { value: "18", text: "Дальневосточный" },
      { value: "19", text: "Иврит" },
      { value: "20", text: "Идиш" },
      { value: "21", text: "Индонезийский" },
      { value: "22", text: "Ирландский" },
      { value: "23", text: "Исландский" },
      { value: "24", text: "Испанский" },
      { value: "25", text: "Итальянский" },
      { value: "26", text: "Казахский" },
      { value: "27", text: "Каталанский" },
      { value: "28", text: "Китайский" },
      { value: "29", text: "Корейский" },
      { value: "30", text: "Курдский" },
      { value: "31", text: "Латинский" },
      { value: "32", text: "Лаосский" },
      { value: "33", text: "Литовский" },
      { value: "34", text: "Македонский" },
      { value: "35", text: "Малайский" },
      { value: "36", text: "Мальтийский" },
      { value: "37", text: "Маори" },
      { value: "38", text: "Монгольский" },
      { value: "39", text: "Немецкий" },
      { value: "40", text: "Нидерландский" },
      { value: "41", text: "Норвежский" },
      { value: "42", text: "Персидский" },
      { value: "43", text: "Польский" },
      { value: "44", text: "Португальский" },
      { value: "45", text: "Румынский" },
      { value: "46", text: "Русский" },
      { value: "47", text: "Саамский" },
      { value: "48", text: "Самоанский" },
      { value: "49", text: "Сербский" },
      { value: "50", text: "Сингалезский" },
      { value: "51", text: "Словацкий" },
      { value: "52", text: "Словенский" },
      { value: "53", text: "Суахили" },
      { value: "54", text: "Таджикский" },
      { value: "55", text: "Тагальский" },
      { value: "56", text: "Татарский" },
      { value: "57", text: "Телугу" },
      { value: "58", text: "Тайский" },
      { value: "59", text: "Турецкий" },
      { value: "60", text: "Украинский" },
      { value: "61", text: "Узбекский" },
      { value: "62", text: "Финский" },
      { value: "63", text: "Французский" },
      { value: "64", text: "Хинди" },
      { value: "65", text: "Хорватский" },
      { value: "66", text: "Чешский" },
      { value: "67", text: "Шведский" },
      { value: "68", text: "Шотландский" },
      { value: "69", text: "Шведский" },
      { value: "70", text: "Эстонский" },
      { value: "71", text: "Японский" }
    ]

    const optionsMessageType = [
      { value: "1", text: "Техническая поддержка" },
      { value: "2", text: "Насчет заказа" },
      { value: "3", text: "Возврат денег" },
    ];

    const optionsCities = [
      { value: "moscow", text: "Москва" },
      { value: "piter", text: "Санкт-Петербург" },
      { value: "novosibirsk", text: "Новосибирск" },
      { value: "omsk", text: "Омск" },
      { value: "kazan", text: "Казань" },
      { value: "stavropol", text: "Ставрополь" },
      { value: "ekaterinburg", text: "Екатеринбург" },
      { value: "voronezh", text: "Воронеж" },
      { value: "rostov-na-donu", text: "Ростов-на-Дону" },
      { value: "petropavlovsk-kamchatskiy", text: "Петропавловск-Камчатский" },
      { value: "vladivostok", text: "Владивосток" },
      { value: "krasnoyarsk", text: "Красноярск" },
      { value: "kursk", text: "Курск" },
      { value: "smolensk", text: "Смоленск" },
      { value: "vladimir", text: "Владимир" },
      { value: "volgograd", text: "Волгоград" },
    ];
