@import "@fancyapps/ui/dist/fancybox/fancybox.css"

.fancybox__content
  background-color transparent
  &.fancybox-video
    display block !important
    iframe
    video
      width 70vw
      aspect-ratio 1 / .5
