// Normalize.css
@import "normalize.css/normalize.css"

// Helpers and Common styles
@import "./styles/variables.styl"
// @import "./styles/fonts.styl"
@import "./styles/mixins.styl"
@import "./styles/fixes.styl"
@import "./styles/helpers.styl"
@import "./styles/styles.styl"
@import "./styles/global.styl"
@import "./styles/typography.styl"
@import "./styles/print.styl"

// Plugins (external plugins/libs)

// -----------------------
// Components (BEM-blocks)
// -----------------------

// simple base components
@import "./components/animations/animations.styl"
@import "./components/icon/icon.styl"
@import "./components/button/button.styl"
@import "./components/logo/logo.styl"
@import "./components/items-list/items-list.styl"
@import "./components/avatar/avatar.styl"

// Forms
@import "./components/input/input.styl"
@import "./components/textarea/textarea.styl"
@import "./components/checkbox/checkbox.styl"
@import "./components/radio/radio.styl"
@import "./components/select/select.styl"
@import "./components/custom-select/custom-select.styl"
@import "./components/file-input/file-input.styl"
@import "./components/datepicker/datepicker.styl"
@import "./components/switch/switch.styl"
@import "./components/field/field.styl"
@import "./components/validator/validator.styl"
@import "./components/alert/alert.styl"
@import "./components/form/form.styl"
@import "./components/search-form/search-form.styl"
@import "./components/search-btn/search-btn.styl"
@import "./components/inputbox/inputbox.styl"


// other
@import "./components/page/page.styl"
@import "./components/ui/ui.styl"
@import "./components/demo/demo.styl"
@import "./components/popup/popup.styl"
@import "./components/stars-field/stars-field.styl"
@import "./components/stars-rating/stars-rating.styl"
@import "./components/header/header.styl"
@import "./components/sidebar/sidebar.styl"
@import "./components/social/social.styl"
@import "./components/notifications-meter/notifications-meter.styl"
@import "./components/loading-icon/loading-icon.styl"
@import "./components/nav-btn/nav-btn.styl"
@import "./components/search-panel/search-panel.styl"
@import "./components/nav-page/nav-page.styl"
@import "./components/sidebar-after/sidebar-after.styl"
@import "./components/category-item/category-item.styl"
@import "./components/tabs/tabs.styl"
@import "./components/target/target.styl"
@import "./components/offer-time/offer-time.styl"
@import "./components/timer/timer.styl"
@import "./components/goal-progress/goal-progress.styl"
@import "./components/suggestion-item/suggestion-item.styl"
@import "./components/counter/counter.styl"
@import "./components/footer/footer.styl"
