// Normalize.css
@import "normalize.css/normalize.css"

// Helpers and Common styles
@import "./styles/variables.styl"
// @import "./styles/fonts.styl"
@import "./styles/mixins.styl"
@import "./styles/fixes.styl"
@import "./styles/helpers.styl"
@import "./styles/styles.styl"
@import "./styles/global.styl"
@import "./styles/typography.styl"
@import "./styles/print.styl"

// Plugins (external plugins/libs)
@import "./plugins/swiper/swiper.styl"
@import "./plugins/fancybox/fancybox.styl"
@import "./plugins/nouislider/nouislider.styl"

// -----------------------
// Components (BEM-blocks)
// -----------------------

// simple base components
@import "./components/animations/animations.styl"
@import "./components/icon/icon.styl"
@import "./components/button/button.styl"
@import "./components/logo/logo.styl"
@import "./components/items-list/items-list.styl"
@import "./components/avatar/avatar.styl"

// Forms
@import "./components/input/input.styl"
@import "./components/textarea/textarea.styl"
@import "./components/checkbox/checkbox.styl"
@import "./components/radio/radio.styl"
@import "./components/select/select.styl"
@import "./components/custom-select/custom-select.styl"
@import "./components/file-input/file-input.styl"
@import "./components/datepicker/datepicker.styl"
@import "./components/switch/switch.styl"
@import "./components/field/field.styl"
@import "./components/validator/validator.styl"
@import "./components/alert/alert.styl"
@import "./components/form/form.styl"
@import "./components/search-form/search-form.styl"
@import "./components/search-btn/search-btn.styl"
@import "./components/inputbox/inputbox.styl"
@import "./components/range/range.styl"
@import "./components/range-fields/range-fields.styl"


// other
@import "./components/page/page.styl"
@import "./components/ui/ui.styl"
@import "./components/demo/demo.styl"
@import "./components/popup/popup.styl"
@import "./components/stars-field/stars-field.styl"
@import "./components/stars-rating/stars-rating.styl"
@import "./components/header/header.styl"
@import "./components/sidebar/sidebar.styl"
@import "./components/social/social.styl"
@import "./components/notifications-meter/notifications-meter.styl"
@import "./components/loading-icon/loading-icon.styl"
@import "./components/nav-btn/nav-btn.styl"
@import "./components/search-panel/search-panel.styl"
@import "./components/nav-page/nav-page.styl"
@import "./components/sidebar-after/sidebar-after.styl"
@import "./components/category-item/category-item.styl"
@import "./components/tabs/tabs.styl"
@import "./components/target/target.styl"
@import "./components/offer-time/offer-time.styl"
@import "./components/timer/timer.styl"
@import "./components/goal-progress/goal-progress.styl"
@import "./components/suggestion-item/suggestion-item.styl"
@import "./components/counter/counter.styl"
@import "./components/footer/footer.styl"
@import "./components/benefits/benefits.styl"
@import "./components/team/team.styl"
@import "./components/section-heading/section-heading.styl"
@import "./components/team-card/team-card.styl"
@import "./components/reviews-single/reviews-single.styl"
@import "./components/reviews/reviews.styl"
@import "./components/reviews-card/reviews-card.styl"
@import "./components/stars-row/stars-row.styl"
@import "./components/carousel/carousel.styl"
@import "./components/collapse/collapse.styl"
@import "./components/shop/shop.styl"
@import "./components/hero-banner/hero-banner.styl"
@import "./components/breadcrumbs/breadcrumbs.styl"
@import "./components/product-card/product-card.styl"
@import "./components/read-more/read-more.styl"
@import "./components/hint/hint.styl"
@import "./components/hero-slider/hero-slider.styl"
@import "./components/error-section/error-section.styl"
@import "./components/contacts-section/contacts-section.styl"
@import "./components/bg-slider/bg-slider.styl"
@import "./components/callback-widget/callback-widget.styl"
@import "./components/faq-section/faq-section.styl"
@import "./components/collapse-item/collapse-item.styl"
@import "./components/page-blog/page-blog.styl"
@import "./components/blog-card/blog-card.styl"
@import "./components/categories/categories.styl"
@import "./components/featured-section/featured-section.styl"
@import "./components/product-widget/product-widget.styl"
@import "./components/product-banner/product-banner.styl"
@import "./components/parallax-banner/parallax-banner.styl"
@import "./components/words-slider/words-slider.styl"
@import "./components/insta-section/insta-section.styl"
@import "./components/social-card/social-card.styl"
@import "./components/interested-section/interested-section.styl"
@import "./components/cart-section/cart-section.styl"
@import "./components/product-row/product-row.styl"
@import "./components/checkout/checkout.styl"
@import "./components/product-section/product-section.styl"
@import "./components/product-section-slider/product-section-slider.styl"
@import "./components/about-intro/about-intro.styl"
@import "./components/animated/animated.styl"
@import "./components/about-populated/about-populated.styl"
@import "./components/about-policy/about-policy.styl"
@import "./components/shop-filters/shop-filters.styl"
@import "./components/shop-filters-item/shop-filters-item.styl"
@import "./components/sidebar-after-filters/sidebar-after-filters.styl"
