.offer-time
  display flex
  flex-wrap wrap
  gap 4px
  align-items center
  justify-content space-between
  padding 5px 15px
  background-color var(--color-gray-soft)
  border 1px solid var(--color-gray)
  border-radius 4px

  &__text
    margin 0
    color var(--color-dark)
    font-weight 500

  &__timer
    font-weight 500
