//- main layout

extends core

include ../components/nav-page/nav-page
include ../components/sidebar/sidebar
include ../components/sidebar-after/sidebar-after
include ../components/search-panel/search-panel
include ../components/header/header
include ../components/benefits/benefits
include ../components/footer/footer

block page
  +nav-page().page__nav-bottom.show-always
  +search-panel().page__search-panel
  +sidebar-after().page__sidebar-after#sidebar-after
  +sidebar-after--2().page__sidebar-after#sidebar-after-2
  +sidebar().page__sidebar
  .page__overlay
  .page__inner
    +header().page__header
    main.page__main
      block main
    block footer
      +benefits()
      +footer().page__footer
