//- main layout

extends core

include ../components/header/header
include ../components/footer/footer

block page
  +header().page__header
  .page__main
    block main
  +footer--short().page__footer
