mixin about-policy()
  -
    const props = initComponent('about-policy', attributes, []);

  section.about-policy&attributes(attributes)
    .about-policy__heading 
      h3.about-policy__subtitle.animated-item(data-settings='{"animation":"slideInUp","animationDelay":300}') Ценовая политика
      h2.about-policy__title.animated-item(data-settings='{"animation":"slideInUp","animationDelay":400}') Всеобщее понимание, мода для всех!
      .about-policy__text.animated-item(data-settings='{"animation":"slideInUp","animationDelay":500}')
        p Кардиган «гельветика шрирача», портленд, страдающий целиакией, Трюффо разбудил суккулентов-ремесленников, которые стали хитом арт-вечеринки в pinterest с низкоуглеводными блюдами. Чичарроне Migas humblebrag каждый день приносят по четыре порции loko.
    .about-policy__media(style="background-image: url('https://ninetheme.com/themes/wooma/wp-content/uploads/2021/09/cropped-product-name-8.jpeg')") 
      .about-policy__media-frame
        iframe.about-policy__media-frame-iframe(
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          title="YouTube video player"
          src="https://www.youtube.com/embed/iapRWUrP2CY?controls=0&rel=0&playsinline=1&enablejsapi=1&autoplay=1&mute=1&loop=1&playlist=iapRWUrP2CY").about-policy__media-iframe
      .about-policy__media-widget.animated-item(data-settings='{"animation":"slideInUp","animationDelay":300,"animationDuration":750}')
        p Кардиган «гельветика шрирача», портленд, страдающий целиакией, Трюффо разбудил суккулентов-ремесленников, которые стали хитом арт-вечеринки в pinterest с низкоуглеводными блюдами. Чичарроне Migas humblebrag каждый день приносят по четыре порции loko.
