.file-input

  input[type="file"]
    visually-hidden()

  &__files
    display flex
    flex-flow row wrap
    gap 16px
    margin rem(16px) 0 rem(16px)
    color var(--color-dark)
    font-size rem(16px)
    &:empty
      display none
      margin 0
    +below(80em)
      min-height 0px !important

  &__file
    display inline-flex
    flex 0 1 auto
    flex-flow row nowrap
    gap 10px
    align-items center
    cursor pointer

  &__file-img
    display block
    flex 0 0 auto
    size 50px
    overflow hidden
    border 1px solid var(--color-dark-soft)
    border-radius 8px
    img
      width 100%
      height 100%
      object-fit cover
      object-position center

  &__file-icon
    display inline-flex
    flex 0 0 auto
    align-items center
    justify-content center
    size 50px
    border 1px solid var(--color-dark-soft)
    border-radius 8px
    svg
      size 32px
      fill var(--color-dark)

  &__file-title
    margin 0
    color var(--color-dark)
    font-weight 400
    font-size rem(14px)
    text-break()
    &:not(:last-child)
      margin-bottom 4px

  &__file-size
    margin 0
    color var(--color-dark-soft)
    font-weight 400
    font-size rem(14px)

  &__file-file
    size 60px
    overflow hidden


  &--img
    padding rem(16px) rem(12px)
    background-color var(--color-grey-200)
    border-radius rem(24px)
    +above(48em)
      padding rem(8px) rem(8px) rem(8px) rem(20px)
      border-radius rem(48px)

    & ^[0]__grid
      display flex
      flex-direction column
      gap rem(12px)
      align-items flex-start
      width 100%
      +above(48em)
        flex-flow row nowrap
        align-items center
        justify-content space-between

    & ^[0]__file
      display flex
      flex-flow row wrap
      gap 0 rem(10px)
      align-items center
      color var(--color-grey-600)
      font-weight 500
      font-size rem(16px)
      line-height 1.4

    & ^[0]__file-link
      display flex
      flex-flow row nowrap
      gap rem(8px)
      align-items center
      color var(--color-blue-400)
      text-decoration none
      .icon
        flex 0 0 auto
        size rem(24px)
      &:hover
      &:focus-visible
        color var(--color-hover)
        text-decoration none

    & ^[0]__placeholder
      margin 0
      color var(--color-grey-600)
      font-weight 500
      font-size rem(16px)
      line-height 1.4

    & ^[0]__file + ^[0]__placeholder
      display none

  &--img-free
    width 100%

    & ^[0]__grid
      display flex
      flex-flow row wrap
      gap rem(12px)
      align-items center
      justify-content space-between
      width 100%

    & ^[0]__file
      display flex
      flex-flow row nowrap
      gap 16px
      align-items center
      width 100%
      +above(30em)
        width auto
      +desktop()
        max-width 460px

    & ^[0]__file-img
      flex 0 0 auto
      size 80px 50px
      overflow hidden
      background-color var(--color-grey-100)
      background-image url(../img/no-image.svg)
      background-repeat no-repeat
      background-position center
      background-size cover
      border-radius 6px
      img
        width 100%
        height 100%
        object-fit cover

    & ^[0]__file-info
      display flex
      flex 0 1 100%
      flex-direction column
      gap 4px
      color var(--color-grey-800)
      font-weight 500
      font-size rem(16px)
      line-height 1.3
      text-break()

    & ^[0]__file-size
      color var(--color-grey-600)

    & ^[0]__btn-delete
      flex 0 0 auto

  &--img-block
    & ^[0]__grid
      display flex
      flex-direction column
      gap rem(24px)
      +above(48em)
        flex-flow row nowrap
        align-items flex-start

    & ^[0]__main
      display flex
      flex-direction column
      gap rem(16px)
      align-items flex-start
      +above(48em)
        flex 0 1 100%

    & ^[0]__title
      margin 0

    & ^[0]__text
      color var(--color-grey-700)
      font-weight 500
      font-size rem(16px)
      line-height 1.4

    & ^[0]__button
      width 100%
      +above(30em)
        width auto

    & ^[0]__visual
      position relative
      display flex
      align-items center
      justify-content center
      width 100%
      height rem(158px)
      overflow hidden
      background-color var(--color-grey-300)
      border-radius rem(12px)
      +above(48em)
        flex 0 0 auto
        width 280px
      img
        position relative
        z-index 2
        width 100%
        height 100%
        object-fit scale-down

    & ^[0]__visual img + button + ^[0]__stub
      display none

    & ^[0]__stub
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      z-index 1
      background-color var(--color-grey-300)
      background-image url(../img/no-image.svg)
      background-repeat no-repeat
      background-position center

    & ^[0]__btn-delete
      position absolute
      top 0
      right 0
      bottom 0
      left 0
      z-index 5
      display none
      align-items center
      justify-content center
      padding 0
      background-color rgba(0, 0, 0, .3)
      border none
      opacity 0
      transition opacity .5s ease
      &:hover
      &:focus-visible
        opacity 1
      .icon
        flex 0 0 auto
        size 24px
        fill var(--color-white)
    & ^[0]__visual img + ^[0]__btn-delete
      display flex

  &--profile-photo
    display flex
    flex-flow row nowrap
    gap rem(16px)
    align-items center
    +desktop()
      gap rem(24px)

    & ^[0]__photo-avatar
      flex 0 0 auto
      size 80px
      +desktop()
        size 120px

    & ^[0]__photo-right
      display flex
      flex-direction column
      gap rem(12px)

    & ^[0]__photo-label
      margin 0
      color var(--color-grey-800)
      font-weight 500
      font-size rem(16px)
      line-height 1.4

  &--profile-photo-small
    position relative
    display inline-flex
    flex-flow row nowrap
    align-items flex-end

    & ^[0]__photo-avatar
      flex 0 0 auto
      size 80px

    & ^[0]__button
      position relative
      flex 0 0 auto
      margin-left -24px

  &--profile-gallery
    & ^[0]__button
      size 80px
      border-radius 8px
      +desktop()
        size 100px
