include ../icon/icon

mixin benefits()
  -
    const props = initComponent('benefits', attributes, []);

  .benefits&attributes(attributes)
    article.benefits__item 
      .benefits__item-icon 
        +icon("delivery")
      .benefits__item-content  
        h2.benefits__item-title Бесплатная доставка
        p.benefits__item-text Бесплатная доставка для заказов больше 230 тысяч рублей
    article.benefits__item 
      .benefits__item-icon 
        +icon("ruble")
      .benefits__item-content  
        h2.benefits__item-title Денежная гарантия
        p.benefits__item-text Возврат в течение 40 дней
    article.benefits__item 
      .benefits__item-icon 
        +icon("card")
      .benefits__item-content  
        h2.benefits__item-title Гибкая система оплаты
        p.benefits__item-text Оплата разными способами
    article.benefits__item 
      .benefits__item-icon 
        +icon("headphones")
      .benefits__item-content  
        h2.benefits__item-title Онлайн тех-поддержка
        p.benefits__item-text Работа поддержки 24\7
