include ./ui

mixin ui--colors()
  +ui__section(title="Цвета")&attributes(attributes)
    +ui__sequence()
      +ui__color(name="white" color="#fff")
      +ui__color(name="black" color="#000")
      +ui__color(name="red" color="#E11D48")
      +ui__color(name="blue" color="#007FFF")
      +ui__color(name="text" color="#151E26")
      +ui__color(name="text-light" color="#A5AFB8")
      +ui__color(name="primary" color="#007FFF")
      +ui__color(name="hover" color="#1458E1")
      +ui__color(name="error" color="#FB7185")
      +ui__color(name="success" color="#34D399")
    
    +ui__subsection(title="blue")
      +ui__sequence()
        +ui__color(name="blue-50" color="#F5FAFF")
        +ui__color(name="blue-100" color="#D9EFFF")
        +ui__color(name="blue-200" color="#BCDFFF")
        +ui__color(name="blue-300" color="#8EC3FF")
        +ui__color(name="blue-400" color="#007FFF")
        +ui__color(name="blue-500" color="#3284FF")
        +ui__color(name="blue-600" color="#1B6BF5")
        +ui__color(name="blue-700" color="#1458E1")
        +ui__color(name="blue-800" color="#1346BD")
        +ui__color(name="blue-900" color="#19378F")

    +ui__subsection(title="grey")
      +ui__sequence()
        +ui__color(name="grey-50" color="#F4F6F9")
        +ui__color(name="grey-100" color="#E9EDF5")
        +ui__color(name="grey-200" color="#DEE5F0")
        +ui__color(name="grey-300" color="#C3D1E5")
        +ui__color(name="grey-400" color="#8DA2BF")
        +ui__color(name="grey-500" color="#5A7396")
        +ui__color(name="grey-600" color="#425978")
        +ui__color(name="grey-700" color="#334865")
        +ui__color(name="grey-800" color="#263A55")
        +ui__color(name="grey-900" color="#09121F")

    +ui__subsection(title="red")
      +ui__sequence()
        +ui__color(name="red-50" color="#FFF1F2")
        +ui__color(name="red-100" color="#FFE4E6")
        +ui__color(name="red-200" color="#FECDD3")
        +ui__color(name="red-300" color="#FDA4AF")
        +ui__color(name="red-400" color="#FB7185")
        +ui__color(name="red-500" color="#F43F5E")
        +ui__color(name="red-600" color="#E11D48")
        +ui__color(name="red-700" color="#BE123C")
        +ui__color(name="red-800" color="#9F1239")
        +ui__color(name="red-900" color="#881337")

    +ui__subsection(title="yellow")
      +ui__sequence()
        +ui__color(name="yellow-50" color="#FEFCE8")
        +ui__color(name="yellow-100" color="#FEF9C3")
        +ui__color(name="yellow-200" color="#FEF08A")
        +ui__color(name="yellow-300" color="#FDE047")
        +ui__color(name="yellow-400" color="#FACC15")
        +ui__color(name="yellow-500" color="#EAB308")
        +ui__color(name="yellow-600" color="#CA8A04")
        +ui__color(name="yellow-700" color="#A16207")
        +ui__color(name="yellow-800" color="#854D0E")
        +ui__color(name="yellow-900" color="#713F12")

    +ui__subsection(title="green")
      +ui__sequence()
        +ui__color(name="green-50" color="#ECFDF5")
        +ui__color(name="green-100" color="#D1FAE5")
        +ui__color(name="green-200" color="#A7F3D0")
        +ui__color(name="green-300" color="#6EE7B7")
        +ui__color(name="green-400" color="#34D399")
        +ui__color(name="green-500" color="#10B981")
        +ui__color(name="green-600" color="#059669")
        +ui__color(name="green-700" color="#047857")
        +ui__color(name="green-800" color="#065F46")
        +ui__color(name="green-900" color="#064E3B")
